<!DOCTYPE html lang="en">
    <head>
        <title>{{ title }}</title>
        {% include 'includes/head.html' %}

        <script src="{{ url_for('static', filename='js/qrcode.js')}}"></script>

        <script>
            $(document).ready(function() {

                alias="{{alias}}"

                function change_alias() {
                    $("#change_alias_form").submit();
                    change_alias_dialog.dialog( "close" );
                }
                change_alias_dialog = $( "#change-alias-dialog" ).dialog({
                    autoOpen: false,
                    resizable: false,
                    height: "auto",
                    width: 600,
                    modal: true,
                    position: { my: "center top", at: "center top", of: window, collision: "none" },
                    buttons: {
                        "Save": change_alias,
                        Cancel: function() {
                            change_alias_dialog.dialog( "close" );
                        }
                    },
                    open: function() {
                        $("#alias").val(alias)
                        $("#password_change_alias").val("")
                    }
                });
                $("#change_alias").on("click", function() {
                    change_alias_dialog.dialog( "open" );
                });

                function lndconnect() {
                    $("#lndconnect_form").submit();
                    lndconnect_dialog.dialog( "close" );
                }
                lndconnect_dialog = $( "#lndconnect-dialog" ).dialog({
                    autoOpen: false,
                    resizable: false,
                    height: "auto",
                    width: 600,
                    modal: true,
                    position: { my: "center top", at: "center top", of: window, collision: "none" },
                    buttons: {
                        "View": lndconnect,
                        Cancel: function() {
                            lndconnect_dialog.dialog( "close" );
                        }
                    },
                    open: function() {
                        $("#password_lndconnect").val("")
                    }
                });
                $("#lndconnect").on("click", function() {
                    lndconnect_dialog.dialog( "open" );
                });

                $("#lndconnect_form").on("submit", function() {
                    lndconnect_dialog.dialog( "close" );
                });

                $("#rtl").on("click", function() {
                    url = 'https://'+location.hostname+':3011';
                    window.open(url,'_blank');
                })

                $("#gen_new_address_button").on("click", function() {
                    $.get( "/lnd/api/get_new_deposit_address", function( data ) {
                        $("#gen_new_address_button").hide();
                        
                        $("#new_address_desc").show();
                        $("#new_address_qrcode").show();
                        $("#new_address_text").show();
                        $("#new_address_text").html( data );

                        var qrcode = new QRCode("new_address_qrcode", {
                            text: data,
                            width: 180,
                            height: 180,
                            correctLevel : QRCode.CorrectLevel.H
                        });
                    });
                })

            });
        </script>
     </head>

    <body>
        {% include 'includes/logo_header.html' %}
        <div class="mynode_back_div">
            <a class="ui-button ui-widget ui-corner-all mynode_back" href="/"><span class="ui-icon ui-icon-home"></span>home&nbsp;</a>
        </div>

        {% include 'includes/message_display.html' %}

        <div class="main_header">Lightning Status</div>
        <br/>
        
{% if not wallet_exists %}
        <div class="app_tile_row">
            <div class="info_tile">
                <div class="info_tile_header">Manage Wallet</div>
                <div class="info_tile_contents" style="width: 280px;">
                    <a class="ui-button ui-widget ui-corner-all" style="width: 210px; margin-bottom: 15px;" href="/lnd/create_wallet">Create Wallet</a>
                    <a class="ui-button ui-widget ui-corner-all" style="width: 210px; margin-bottom: 15px;" href="/lnd/create_wallet_with_seed">Restore Wallet from Seed</a>
                </div>
            </div>
        </div>
{% endif %}


        <div class="app_tile_row">
{% if wallet_exists and wallet_logged_in %}
            <!-- Status Tile -->
            <div class="info_tile">
                <div class="info_tile_header">Status</div>
                <div class="info_tile_contents">
                    <table class="info_table">
                        <tr>
                            <th>Status</th>
                            <td>{{status}}</td>
                        </tr>
                        <tr>
                            <th>Height</th>
                            <td>{{height}}</td>
                        </tr>
                        <tr>
                            <th>Num Peers</th>
                            <td>{{num_peers}}</td>
                        </tr>
                        {% if is_testnet_enabled %}
                        <tr>
                            <th>Network</th>
                            <td>Testnet</td>
                        </tr>
                        {% endif %}
                        <th>Pair Wallet</th>
                            <td>
                                <a class="ui-button ui-widget ui-corner-all mynode_button_small" id="lndconnect" style="width: 70%;" href="#">Pair Wallet</a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
{% endif %}

{% if wallet_exists or channel_backup_exists %}
            <!-- Lightning Tile -->
            <div class="info_tile">
                <div class="info_tile_header">Lightning</div>
                <div class="info_tile_contents">
                    <table class="info_table">
{% if wallet_exists %}
                        <tr>
                            <th>TLS Certification</th>
                            <td>
                                <a class="ui-button ui-widget ui-corner-all mynode_button_small" style="width: 100px;" href="/lnd/tls.cert">download</a>
                                <a class="ui-button ui-widget ui-corner-all mynode_button_small" style="width: 100px;" href="/lnd/regen_tls_cert">regenerate</a>
                            </td>
                        </tr>
                        <tr>
                            <th>Macaroon Download</th>
                            <td>
                                <a class="ui-button ui-widget ui-corner-all mynode_button_small" id="admin_macaroon" href="/lnd/admin.macaroon">admin</a>
                                <a class="ui-button ui-widget ui-corner-all mynode_button_small" id="readonly_macaroon" href="/lnd/readonly.macaroon">readonly</a>
                            </td>
                        </tr>
{% endif %}
{% if channel_backup_exists %}
                        <tr>
                            <th>Channel Backup</th>
                            <td>
                                <a class="ui-button ui-widget ui-corner-all mynode_button_small" style="width: 100px;" href="/lnd/channel.backup">download</a>
                            </td>
                        </tr>
{% endif %}
                        <tr>
                            <th>Config</th>
                            <td>
                                <a class="ui-button ui-widget ui-corner-all mynode_button_small" style="width: 100px;" href="/lnd/config">view / edit</a>
                            </td>
                        </tr>
{% if wallet_exists %}
                        <tr>
                            <th>Alias</th>
                            <td>
                                <a class="ui-button ui-widget ui-corner-all mynode_button_small" id="change_alias" href="#"><span class="ui-icon ui-icon-gear"></a>
                                {{alias}}
                            </td>
                        </tr>
                        <tr>
                            <th>Ports (gRPC/REST)</th>
                            <td>10009 / 10080</td>
                        </tr>
{% endif %}
                    </table>
                </div>
            </div>

{% if wallet_exists %}
            <!-- Version Tile -->
            <div class="info_tile">
                <div class="info_tile_header">Versions</div>
                <div class="info_tile_contents">
                    <table class="info_table">
                        <tr>
                            <th>LND Version</th>
                            <td>{{version}}</td>
                        </tr>
                        <tr>
                            <th>Loop Version</th>
                            <td>{{loop_version}}</td>
                        </tr>
                        <tr>
                            <th>Pool Version</th>
                            <td>{{pool_version}}</td>
                        </tr>
                    </table>
                </div>
            </div>
{% endif %}  
{% endif %}
        </div>

{% if wallet_logged_in %}
        <!-- URL Tile / Row -->
        <div class="app_tile_row">
            <div class="info_tile">
                <div class="info_tile_header">URI</div>
                <div class="info_tile_contents">{{uri}}</div>
            </div>
        </div>
{% endif %}

{% if wallet_exists and not wallet_logged_in %}
        <!-- Status Tile / Row (should be only shown short term) -->
        <div class="app_tile_row">
            <div class="info_tile">
                <div class="info_tile_header">Status</div>
                <div class="info_tile_contents">{{status}}</div>
            </div>
        </div>
{% endif %}


{% if wallet_exists and wallet_logged_in %}
    <br/>
    <div class="main_header">Balances</div>
    <div class="app_tile_row" style="display: block;">
        <div id="new_address_desc" style="display: none;"><p><b>Deposit Address</b></p></div>
        <div style="width: 100%; margin: auto;">
            <div id="new_address_qrcode" style="height: 180px; width: 180px; display: none; margin: auto;"></div>
        </div>
        <br/>
        <div id="new_address_text" style="display: none;">&nbsp;</div>
        <button id="gen_new_address_button">Generate Deposit Address</button>
    </div>
    <div class="app_tile_row">
        <table class="bitcoind_table">
            <thead class="bitcoind_table_header">
                <td>On-chain Balance</td>
                <td>On-chain Pending</td>
                <td>Channel Balance</td>
                <td>Channel Pending</td>
            </thead>
            <tbody>
                <tr>
                    <td>{{ wallet_balance }}</td>
                    <td>{{ wallet_pending }}</td>
                    <td>{{ channel_balance }}</td>
                    <td>{{ channel_pending }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <br/>
    <div class="main_header">Channels</div>
    <div class="app_tile_row">
        <table class="bitcoind_table">
            <thead class="bitcoind_table_header">
                <td>Peer Alias</td>
                <td>Capacity</td>
                <td>Local Capacity</td>
                <td>Remote Capacity</td>
            </thead>
            <tbody>
                {% for channel in channels %}
                    <tr>
                        <td>{{ channel.remote_alias }}</td>
                        <td>{{ channel.capacity }}</td>
                        <td>{{ channel.local_balance }}</td>
                        <td>{{ channel.remote_balance }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <br/>
    <div class="main_header">Peers</div>
    <div class="app_tile_row">
        <table class="bitcoind_table">
            <thead class="bitcoind_table_header">
                <td>Alias</td>
                <td>Pub Key</td>
                <!--<td>Address</td>-->
                <td>Sats TX</td>
                <td>Sats RX</td>
                <!--<td>Sync Type</td>-->
            </thead>
            <tbody>
                {% for peer in peers %}
                    <tr>
                        <td>{{ peer.alias }}</td>
                        <td style="font-size: 12px;">{{ peer.pub_key }}</td>
                        <!--<td>{{ peer.address }}</td>-->
                        <td>{{ peer.sat_sent }}</td>
                        <td>{{ peer.sat_recv }}</td>
                        <!--<td>{{ peer.sync_type }}</td>-->
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endif %}

{% if wallet_exists and wallet_logged_in %}
    <br/><br/>
    <div class="main_header">Access your Wallet</div>
        <div class="main_header_sub_text">
            There are numerous ways to access and manage your wallet. Choose any option below!
        </div>
        <div class="app_tile_row">
            <div class="app_tile_short">
                <div class="app_status_icon"></div>
                <div class="app_logo"><img class="app_logo_icon" src="{{ url_for('static', filename="images/rtl.png")}}"/></div>
                <div class="app_title">RTL</div>
                <div class="app_status"></div>
                <div class="app_contents">
                    <a class="ui-button ui-widget ui-corner-all mynode_button" href="#" id="rtl">Access Wallet</a>
                    <a class="ui-button ui-widget ui-corner-all mynode_button" href="https://mynodebtc.com/guide/rtl" target="_blank">RTL Guide</a>
                </div>
            </div>

            <div class="app_tile_short">
                <div class="app_status_icon"></div>
                <div class="app_logo"><img class="app_logo_icon" src="{{ url_for('static', filename="images/zap.png")}}"/></div>
                <div class="app_title">Zap</div>
                <div class="app_status"></div>
                <div class="app_contents">
                    <a class="ui-button ui-widget ui-corner-all mynode_button" href="https://mynodebtc.com/guide/zap" target="_blank">Zap Guide</a>
                </div>
            </div>

            <div class="app_tile_short">
                <div class="app_status_icon"></div>
                <div class="app_logo"><img class="app_logo_icon" src="{{ url_for('static', filename="images/bluewallet.png")}}"/></div>
                <div class="app_title">BlueWallet</div>
                <div class="app_status"></div>
                <div class="app_contents">
                    <a class="ui-button ui-widget ui-corner-all mynode_button" href="https://mynodebtc.com/guide/bluewallet" target="_blank">BlueWallet Guide</a>
                </div>
            </div>

        </div>
{% endif %}

        <div id="change-alias-dialog" title="Change LND Alias" style="display:none;">
            <form id="change_alias_form" name="change_alias_form" action="/lnd/change_alias" method="POST">
                <p>The LND alias is a public name for your lightning node and you can modify it with the form below. Changing the alias will restart your myNode to take effect.</p>
                <p>Please enter a new alias and your current password.</p>
                <b>New Alias:</b>
                <br/>
                <input type="text" name="alias" id="alias" value="" class="text ui-widget-content ui-corner-all" size="34" maxlength="34">
                <br/><br/>
                <b>Password:</b>
                <br/>
                <input type="password" name="password_change_alias" id="password_change_alias" value="" class="text ui-widget-content ui-corner-all">
            
                <!-- Allow form submission with keyboard without duplicating the dialog button -->
                <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
            </form>
        </div>

        <div id="lndconnect-dialog" title="Pair Wallet" style="display:none;">
            <form id="lndconnect_form" name="lndconnect_form" action="/lnd/lndconnect" method="POST">
                <p>Pairing a wallet will give another device access to your Lightning Wallet! Do not share this info with others
                    or they will be able to control your funds.</p>
                <p>Please enter your password to view your pairing information.</p>
                <b>Password:</b>
                <br/>
                <input type="password" name="password_lndconnect" id="password_lndconnect" value="" class="text ui-widget-content ui-corner-all">
            
                <!-- Allow form submission with keyboard without duplicating the dialog button -->
                <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
            </form>
        </div>

        {% include 'includes/footer.html' %}
    </body>
</html>