<!DOCTYPE html lang="en">
    <head>
        <title>{{ title }}</title>
        {% include 'includes/head.html' %}
        <meta http-equiv="refresh" content="{{ refresh_rate }}">

        <script>
            // Update status functions
            function update_status(status_name, data) {
                if (data != null && "status" in data && data["status"] != null) {
                    $("#"+status_name).html(data["status"]);
                }
            }
            function update_status_icon(status_icon_name, data) {
                if (data != null && "color" in data && data["color"] != null) {
                    $("#"+status_icon_name).removeClass("red");
                    $("#"+status_icon_name).removeClass("yellow");
                    $("#"+status_icon_name).removeClass("green");
                    $("#"+status_icon_name).removeClass("gray");
                    $("#"+status_icon_name).removeClass("blue");
                    $("#"+status_icon_name).addClass(data["color"]);
                }
            }

            function refresh_page() {
                window.location.href=location.protocol+'//'+location.hostname+"/";
            }

            var showing_blocks = false;
            function toggleBlocks() {
                if (showing_blocks) {
                    $("#bitcoin_blocks").slideUp(400);
                    $('#show_bitcoin_blocks').attr('src', location.protocol+'//'+location.hostname+'/static/images/expand_down.png');
                } else {
                    $("#bitcoin_blocks").slideDown(400);
                    $('#show_bitcoin_blocks').attr('src', location.protocol+'//'+location.hostname+'/static/images/expand_up.png');
                }
                showing_blocks = !showing_blocks;
            }

            // Update page function
            var lnd_ready = {% if lnd_ready %}true{% else %}false{% endif %};
            var btcrpcexplorer_ready = {% if btcrpcexplorer_ready %}true{% else %}false{% endif %};
            var btcrpcexplorer_sso_token = "{{btcrpcexplorer_sso_token}}";
            var is_installing_docker_images = {% if is_installing_docker_images %}true{% else %}false{% endif %};
            function update_page() {
                // Update Bitcoin Info
                $.getJSON("/api/get_bitcoin_info", function( data ) {
                    //console.log("Bitcoin Data: " + JSON.stringify(data))
                    if ("current_block" in data && data["current_block"] != null) {
                        $("#current_block").html(data["current_block"]);
                    }
                    if ("peer_count" in data && data["peer_count"] != null) {
                        $("#bitcoin_peer_count").html(data["peer_count"]);
                    }
                    if ("difficulty" in data && data["difficulty"] != null) {
                        $("#bitcoin_difficulty").html(data["difficulty"]);
                    }
                    if ("mempool_size" in data && data["mempool_size"] != null) {
                        $("#bitcoin_mempool_size").html(data["mempool_size"]);
                    }
                    if ("recent_blocks" in data && data["recent_blocks"] != null) {
                        blocks = data["recent_blocks"].reverse();
                        for (i=0; i < data["recent_blocks"].length; i++) {
                            b = data["recent_blocks"][i]
                            //console.log(JSON.stringify(b))
                            $("#bitcoin_block_height_"+i).html(b["height"]);
                            size = parseFloat(b["size"]) / 1000 / 1000;
                            $("#bitcoin_block_size_"+i).html(size.toFixed(2) + " MB");
                            $("#bitcoin_block_num_txs_"+i).html(b["nTx"] + " txs");
                            var now = new Date();
                            var nowSeconds = Math.round(now.getTime() / 1000);
                            var minutesAgo = Math.round((nowSeconds - parseInt(b["time"])) / 60);
                            $("#bitcoin_block_time_"+i).html(minutesAgo + " min ago");
                        }
                    }
                });

                // Update Lightning Info
                $.getJSON("/api/get_lightning_info", function( data ) {
                    //console.log("Lightning Data: " + JSON.stringify(data))
                    if ("channel_count" in data && data["channel_count"] != null) {
                        $("#lnd_channel_count").html(data["channel_count"]);
                    }
                    if ("peer_count" in data && data["peer_count"] != null) {
                        $("#lnd_peer_count").html(data["peer_count"]);
                    }
                    if ("lnd_ready" in data && data["lnd_ready"] != null) {
                        if (lnd_ready != data["lnd_ready"]) {
                            refresh_page();
                        }
                    }
                });

                // Update app status
                $.getJSON("/api/get_service_status?service=bitcoin", function( data ) {
                    update_status("bitcoin_status", data);
                    update_status_icon("bitcoin_status_icon", data);
                });
                $.getJSON("/api/get_service_status?service=lightning", function( data ) {
                    update_status("lnd_status", data);
                    update_status_icon("lnd_status_icon", data);
                });
                $.getJSON("/api/get_service_status?service=electrs", function( data ) {
                    update_status("electrs_status", data);
                    update_status_icon("electrs_status_icon", data);
                });
                $.getJSON("/api/get_service_status?service=dojo", function( data ) {
                    update_status("dojo_status", data);
                    update_status_icon("dojo_status_icon", data);
                });
                $.getJSON("/api/get_service_status?service=rtl", function( data ) {
                    update_status("rtl_status", data);
                    update_status_icon("rtl_status_icon", data);
                });
                $.getJSON("/api/get_service_status?service=mempool", function( data ) {
                    update_status("mempoolspace_status", data);
                    update_status_icon("mempoolspace_status_icon", data);
                });
                $.getJSON("/api/get_service_status?service=whirlpool", function( data ) {
                    update_status("whirlpool_status", data);
                    update_status_icon("whirlpool_status_icon", data);
                });
                $.getJSON("/api/get_service_status?service=btcpayserver", function( data ) {
                    update_status("btcpayserver_status", data);
                    update_status_icon("btcpayserver_status_icon", data);
                });
                $.getJSON("/api/get_service_status?service=lndhub", function( data ) {
                    update_status("lndhub_status", data);
                    update_status_icon("lndhub_status_icon", data);
                });
                // BTC RPC Explorer // TODO: Refresh page if btcexplorerready changes
                $.getJSON("/api/get_service_status?service=btcrpcexplorer", function( data ) {
                    update_status("btcrpcexplorer_status", data);
                    update_status_icon("btcrpcexplorer_status_icon", data);
                    if ("sso_token" in data && data["sso_token"] != null) {
                        btcrpcexplorer_sso_token = data["sso_token"]
                    }
                    if ("ready" in data && data["ready"] != null && btcrpcexplorer_ready != data["ready"]) {
                        refresh_page();
                    }
                });
                $.getJSON("/api/get_service_status?service=caravan", function( data ) {
                    update_status("caravan_status", data);
                    update_status_icon("caravan_status_icon", data);
                });
                $.getJSON("/api/get_service_status?service=specter", function( data ) {
                    update_status("specter_status", data);
                    update_status_icon("specter_status_icon", data);
                });
                $.getJSON("/api/get_service_status?service=lnbits", function( data ) {
                    update_status("lnbits_status", data);
                    update_status_icon("lnbits_status_icon", data);
                });
                $.getJSON("/api/get_service_status?service=thunderhub", function( data ) {
                    update_status("thunderhub_status", data);
                    update_status_icon("thunderhub_status_icon", data);
                });
                $.getJSON("/api/get_service_status?service=ckbunker", function( data ) {
                    update_status("ckbunker_status", data);
                    update_status_icon("ckbunker_status_icon", data);
                });
                $.getJSON("/api/get_service_status?service=sphinxrelay", function( data ) {
                    update_status("sphinxrelay_status", data);
                    update_status_icon("sphinxrelay_status_icon", data);
                });
                $.getJSON("/api/get_service_status?service=tor", function( data ) {
                    update_status("tor_status", data);
                    update_status_icon("tor_status_icon", data);
                });
                $.getJSON("/api/get_service_status?service=vpn", function( data ) {
                    update_status("vpn_status", data);
                    update_status_icon("vpn_status_icon", data);
                });

                // Update device info
                $.getJSON("/api/get_device_info", function( data ) {
                    //console.log("Device Data: " + JSON.stringify(data))
                    if ("disk_usage" in data && data["disk_usage"] != null) {
                        $("#device_drive_usage").html(data["disk_usage"]);
                    }
                    if ("cpu" in data && data["cpu"] != null) {
                        $("#device_cpu_usage").html(data["cpu"]);
                    }
                    if ("ram" in data && data["ram"] != null) {
                        $("#device_ram_usage").html(data["ram"]);
                    }
                    if ("temp" in data && data["temp"] != null) {
                        $("#device_temp").html(data["temp"] + " &deg;C");
                        if (data["temp"] != "...") {
                            $("#temp_tile").show();
                        }
                    }
                    if ("is_installing_docker_images" in data && data["is_installing_docker_images"] != null) {
                        if (is_installing_docker_images != data["is_installing_docker_images"]) {
                            refresh_page();
                        }
                    }
                });

                // Check if we need a full page refresh (errors, status changes, etc...)
                $.getJSON("/api/homepage_needs_refresh", function( data ) {
                    if ("needs_refresh" in data && data["needs_refresh"] != null) {
                        if (data["needs_refresh"] == "yes") {
                            refresh_page()
                        }
                    }
                });
            }

            // Run when page ready
            $(document).ready(function() {
                electrs_enabled = {% if electrs_enabled %}1{% else %}0{% endif %}
                lndhub_enabled = {% if lndhub_enabled %}1{% else %}0{% endif %}
                vpn_enabled = {% if vpn_enabled %}1{% else %}0{% endif %}
                mempoolspace_enabled = {% if mempoolspace_enabled %}1{% else %}0{% endif %}

                $( document ).tooltip();

                $("#lndhub").on("click", function() {
                    port="3000"
                    if (location.protocol == "https:") {
                        port="3001"
                    }
                    url = location.protocol+'//'+location.hostname+':'+port
                    window.open(url,'_blank');
                })

                $("#rtl").on("click", function() {
                    port="3010"
                    if (location.protocol == "https:") {
                        port="3011"
                    }
                    url = location.protocol+'//'+location.hostname+':'+port
                    window.open(url,'_blank');
                })

                $("#lnbits").on("click", function() {
                    port="5000"
                    if (location.protocol == "https:") {
                        port="5001"
                    }
                    url = location.protocol+'//'+location.hostname+':'+port
                    window.open(url,'_blank');
                })

                $("#thunderhub").on("click", function() {
                    port="3030"
                    if (location.protocol == "https:") {
                        port="3031"
                    }
                    url = location.protocol+'//'+location.hostname+':'+port
                    window.open(url,'_blank');
                })

                $("#ckbunker").on("click", function() {
                    port="9823"
                    if (location.protocol == "https:") {
                        port="9824"
                    }
                    url = location.protocol+'//'+location.hostname+':'+port
                    window.open(url,'_blank');
                })

                $("#sphinxrelay").on("click", function() {
                    alert("TODO???")
                })

                $("#btcrpcexplorer").on("click", function() {
                    port="3002"
                    if (location.protocol == "https:") {
                        port="3003"
                    }
                    url = location.protocol+'//'+location.hostname+':'+port+'/?'+'token='+btcrpcexplorer_sso_token
                    window.open(url,'_blank');
                })

                $("#specter").on("click", function() {
                    url = 'https://'+location.hostname+':25441'
                    window.open(url,'_blank');
                })

                $("#mempoolspace").on("click", function() {
                    port="4080"
                    if (location.protocol == "https:") {
                        port="4081"
                    }
                    url = location.protocol+'//'+location.hostname+':'+port
                    window.open(url,'_blank');
                })

                $("#btcpayserver").on("click", function() {
                    port="49392"
                    if (location.protocol == "https:") {
                        port="49393"
                    }
                    url = location.protocol+'//'+location.hostname+':'+port
                    window.open(url,'_blank');
                })

                $("#toggle-electrs").on("click", function() {
                    if (electrs_enabled)
                    {
                        // Disable electrs
                        window.location.href="/toggle-electrs"
                    }
                    else
                    {
                        // Enable electrs
                        var okFunction = function() {
                            window.location.href="/toggle-electrs"
                        }
                        openConfirmDialog("confirm-dialog", 
                                          "Enable Electrum Server", 
                                          "Enabling Electrum Server will take several days to fully sync for \
                                           the first time. Your myNode may run slowly during this period.<br/><br/> \
                                           Would you like to enable electrum server?",
                                           okFunction)
                    }
                    return false
                });

                $("#toggle-vpn").on("click", function() {
                    if (vpn_enabled)
                    {
                        // Disable vpn
                        window.location.href="/toggle-vpn"
                    }
                    else
                    {
                        // Enable vpn
                        var okFunction = function() {
                            window.location.href="/toggle-vpn"
                        }
                        openConfirmDialog("confirm-dialog", 
                                          "Enable VPN", 
                                          "Enabling VPN will set your IP to a static IP rather than a dynamic one via DHCP. \
                                           The initial setup may take about an hour.<br/><br/> \
                                           Would you like to enable VPN?",
                                           okFunction)
                    }
                    return false
                });

                $("#toggle-btcrpcexplorer").on("click", function() {
                        window.location.href="/toggle-btcrpcexplorer"
                });

                $("#toggle-mempoolspace").on("click", function() {
                        window.location.href="/toggle-mempoolspace"
                });

                $("#toggle-btcpayserver").on("click", function() {
                        window.location.href="/toggle-btcpayserver"
                });

                $("#toggle-caravan").on("click", function() {
                        window.location.href="/toggle-caravan"
                });

                $("#toggle-specter").on("click", function() {
                        window.location.href="/toggle-specter"
                });

                $("#toggle-lnbits").on("click", function() {
                        window.location.href="/toggle-lnbits"
                });

                $("#toggle-thunderhub").on("click", function() {
                        window.location.href="/toggle-thunderhub"
                });

                $("#toggle-ckbunker").on("click", function() {
                        window.location.href="/toggle-ckbunker"
                });

                $("#toggle-sphinxrelay").on("click", function() {
                        window.location.href="/toggle-sphinxrelay"
                });

                function lndconnect() {
                    $("#lndconnect_form").submit();
                    lndconnect_dialog.dialog( "close" );
                }
                lndconnect_dialog = $( "#lndconnect-dialog" ).dialog({
                    autoOpen: false,
                    resizable: false,
                    height: "auto",
                    width: 600,
                    modal: true,
                    position: { my: "center top", at: "center top", of: window, collision: "none" },
                    buttons: {
                        "View": lndconnect,
                        Cancel: function() {
                            lndconnect_dialog.dialog( "close" );
                        }
                    },
                    open: function() {
                        $("#password_lndconnect").val("")
                    }
                });
                $("#lndconnect").on("click", function() {
                    lndconnect_dialog.dialog( "open" );
                });

                $("#lndconnect_form").on("submit", function() {
                    lndconnect_dialog.dialog( "close" );
                });

                $("#https").on("click", function() {
                    location.href = 'https:' + window.location.href.substring(window.location.protocol.length);
                });

                power_dialog = $( "#power-dialog" ).dialog({
                    autoOpen: false,
                    resizable: false,
                    height: "auto",
                    width: 400,
                    modal: true,
                    position: { my: "center top", at: "center top", of: window, collision: "none" },
                    buttons: {
                    }
                });
                $("#power_button").on("click", function() {
                    power_dialog.dialog( "open" );
                });

                // Show HTTPS button
                if (location.protocol != 'https:') {
                    $("#https").show();
                }

                // Update info every 15 seconds
                const update_interval = setInterval(update_page, 15000);
                update_page();
            });
        </script>
     </head>

    <body>
        {% include 'includes/logo_header.html' %}
        
        <div class="mynode_top_left_div">
            <!-- Nothing yet -->
            {% if upgrade_available %}
                <a class="ui-button ui-widget ui-corner-all mynode_back" href="/settings" title="Upgrade Available"><span class="ui-icon ui-icon-arrowthick-1-n"></span>upgrade available&nbsp;</a>
            {% endif %}
        </div>

        <div class="mynode_top_right_div">
            {% if upgrade_available %}
                <a class="ui-button ui-widget ui-corner-all mynode_back" href="/settings" title="Upgrade Available">&nbsp;<span class="ui-icon ui-icon-arrowthick-1-n"></span>&nbsp;</a>
            {% endif %}
            {% if ui_settings['darkmode'] %}
                <a class="ui-button ui-widget ui-corner-all mynode_back" href="/settings/toggle-darkmode-home" title="Disable Darkmode">&nbsp;<span class="ui-icon ui-icon-lightbulb"></span>&nbsp;</a>
            {% else %}
                <a class="ui-button ui-widget ui-corner-all mynode_back" href="/settings/toggle-darkmode-home" title="Enable Darkmode">&nbsp;<span class="ui-icon ui-icon-lightbulb"></span>&nbsp;</a>
            {% endif %}
            <a class="ui-button ui-widget ui-corner-all mynode_back" id="https" title="Use HTTPS" style="display: none;" href="#">&nbsp;<span class="ui-icon ui-icon-locked"></span>&nbsp;</a>
            <a class="ui-button ui-widget ui-corner-all mynode_back" href="/logout" title="Logout"><span class="ui-icon ui-icon-close"></span>&nbsp;</a>
            <a class="ui-button ui-widget ui-corner-all mynode_back" id="power_button" title="Reboot or Shutdown"><span class="ui-icon ui-icon-power"></span>&nbsp;</a> 
        </div> 
        

        {% include 'includes/message_display.html' %}

        {% include 'includes/main_page_messages.html' %}


        {% include 'includes/services.html' %}

        {% if product_key_error %}
        <div class="main_page_error_block">
            <center>
            <p>
                Your product key is invalid or is currently in use on other devices. This may inhibit your use of support and other premium features.
                <br/><br/>
                Please contact myNode support at <a href="mailto:help@mynodebtc.com">help@mynodebtc.com</a>
                <br/><br/>
                <a href="/product-key">Enter Product Key</a>
            </p>
            </center>
        </div>
        {% endif %}

        {% include 'includes/apps.html' %}

        {% if product_key_skipped %}
        <div class="main_header">Community Edition</div>
        <div class="main_page_warning_block" style="padding-left: 15px;">
            <p>
                You are currently running myNode Community Edition. Upgrading to myNode Premium provides:
                <br/>
                <ul>
                    <li>Premium Support</li>
                    <li>One Click Upgrades!</li>
                    <li>VPN for Remote Access</li>
                    <li>Tor for Remote Access</li>
                    <li>JoinMarket</li>
                    <li>Supports the Open Source Bitcoin Community</li>
                    <li>And more!</li>
                </ul>
                Upgrade now at <a target="_blank" href="https://mynodebtc.com/order/premium">mynodebtc.com</a>!
            </p>
        </div>
        {% endif %}

        <div class="main_header">Settings and Info</div>
        <div class="app_tile_row">
            <div class="app_tile">
                <div class="app_status_icon"></div>
                <div class="app_logo"><img class="app_logo_icon" src="{{ url_for('static', filename="images/settings.png")}}"/></div>
                <div class="app_title">Settings</div>
                <div class="app_status"></div>
                <div class="app_contents">
                    <a class="ui-button ui-widget ui-corner-all mynode_button" href="/apps">Applications</a>
                    <a class="ui-button ui-widget ui-corner-all mynode_button" href="/status">Status</a>
                    <a class="ui-button ui-widget ui-corner-all mynode_button" href="/settings">Settings</a>
                </div>
            </div>
            <div class="app_tile">
                <div class="app_status_icon"></div>
                <div class="app_logo"><img class="app_logo_icon" src="{{ url_for('static', filename="images/drive.png")}}"/></div>
                <div class="app_title">Disk Usage</div>
                <div class="app_status"></div>
                <div class="app_contents"><div class="device_status_info" id="device_drive_usage">{{drive_usage}}</div></div>
            </div>
            <div class="app_tile">
                <div class="app_status_icon"></div>
                <div class="app_logo"><img class="app_logo_icon" src="{{ url_for('static', filename="images/cpu.png")}}"/></div>
                <div class="app_title">CPU</div>
                <div class="app_status"></div>
                <div class="app_contents"><div class="device_status_info" id="device_cpu_usage">{{cpu_usage}}</div></div>
            </div>
            <div class="app_tile">
                <div class="app_status_icon"></div>
                <div class="app_logo"><img class="app_logo_icon" src="{{ url_for('static', filename="images/ram.png")}}"/></div>
                <div class="app_title">RAM</div>
                <div class="app_status"></div>
                <div class="app_contents"><div class="device_status_info" id="device_ram_usage">{{ram_usage}}</div></div>
            </div>
            <div class="app_tile" id="temp_tile" {% if device_temp == '...' %}style="display: none;"{% endif %}>
                <div class="app_status_icon"></div>
                <div class="app_logo"><img class="app_logo_icon" src="{{ url_for('static', filename="images/temperature.png")}}"/></div>
                <div class="app_title">Temperature</div>
                <div class="app_status"></div>
                <div class="app_contents"><div class="device_status_info" id="device_temp">{{device_temp}} &deg;C</div></div>
            </div>
            
            <!--
            <div class="app_tile">
                <div class="app_status_icon"></div>
                <div class="app_logo"><img class="app_logo_icon" src="{{ url_for('static', filename="images/ram.png")}}"/></div>
                <div class="app_title">Swap</div>
                <div class="app_status"></div>
                <div class="app_contents"><div class="drive_usage">{{swap_usage}}</div></div>
            </div>
            -->
        </div>

        {% if product_key_skipped %}
        <div class="main_page_warning_block">
            <p style="text-align: center;"><b>Tip Address</b><br/>bc1q75z4fj946pqucfu9gasxdrzma0z4seh8f58sfd</p>
        </div>
        {% endif %}

        <div id="confirm-dialog"></div>
        <div id="info-dialog"></div>

        <div id="lndconnect-dialog" title="Pair Wallet" style="display:none;">
            <form id="lndconnect_form" name="lndconnect_form" action="/lnd/lndconnect" method="POST">
                <p>Pairing a wallet will give another device access to your Lightning Wallet! Do not share this info with others
                    or they will be able to control your funds.</p>
                <p>Please enter your password to view your pairing information.</p>
                <b>Password:</b>
                <br/>
                <input type="password" name="password_lndconnect" id="password_lndconnect" value="" class="text ui-widget-content ui-corner-all">
                <input type="hidden" name="lndconnect_from_homepage" id="lndconnect_from_homepage" value="1"/>

                <!-- Allow form submission with keyboard without duplicating the dialog button -->
                <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
            </form>
        </div>

        <div id="power-dialog" title="Shutdown" style="display:none;">
            <br/>
            <center>
                <a href="/settings/reboot-device" class="ui-button ui-widget ui-corner-all" style="width: 80%; margin: auto;">Reboot</a>
                <br/><br/>
                <a href="/settings/shutdown-device" class="ui-button ui-widget ui-corner-all" style="width: 80%; margin: auto;">Shutdown</a>
            </center>
        </div>
        
        {% include 'includes/footer.html' %}
     </body>
</html>
