<!DOCTYPE html lang="en">
    <head>
        <title>{{ title }}</title>
        {% include 'includes/head.html' %}

        <script>
            $(document).ready(function() {

                var showChangelog=0;

                $("#upgrade").on("click", function() {
                    // Enable electrs
                    var okFunction = function() {
                        window.location.href="/settings/upgrade"
                    }
                    openConfirmDialog("confirm-dialog", 
                                      "Upgrade myNode",
                                      "<p>This will upgrade your myNode to the latest version and reboot your device.</p>" +
                                      "<p>Would you still like to upgrade your device?</p>",
                                      okFunction)
                });
                $("#upgrade-beta").on("click", function() {
                    // Enable electrs
                    var okFunction = function() {
                        window.location.href="/settings/upgrade-beta"
                    }
                    openConfirmDialog("confirm-dialog", 
                                      "Upgrade myNode",
                                      "<p>This will upgrade your myNode to the latest beta version and reboot your device.</p>" +
                                      "<p>Would you still like to upgrade your device?</p>",
                                      okFunction)
                });

                function deleteLndWallet() {
                    $("#delete_lnd_wallet_form").submit();
                    delete_lnd_wallet_dialog.dialog( "close" );
                }

                delete_lnd_wallet_dialog = $( "#delete-lnd-wallet-dialog" ).dialog({
                    autoOpen: false,
                    resizable: false,
                    height: "auto",
                    width: 600,
                    modal: true,
                    position: { my: "center top", at: "center top", of: window, collision: "none" },
                    buttons: {
                        "Delete Wallet": deleteLndWallet,
                        Cancel: function() {
                            delete_lnd_wallet_dialog.dialog( "close" );
                        }
                    },
                    open: function() {
                        $("#password_lnd_delete").val("")
                    }
                });

                $("#delete_lnd_wallet").on("click", function() {
                    delete_lnd_wallet_dialog.dialog( "open" );
                });


                function resetTor() {
                    $("#reset_tor_form").submit();
                    reset_tor_dialog.dialog( "close" );
                }
                reset_tor_dialog = $( "#reset-tor-dialog" ).dialog({
                    autoOpen: false,
                    resizable: false,
                    height: "auto",
                    width: 600,
                    modal: true,
                    position: { my: "center top", at: "center top", of: window, collision: "none" },
                    buttons: {
                        "Reset Tor": resetTor,
                        Cancel: function() {
                            reset_tor_dialog.dialog( "close" );
                        }
                    },
                    open: function() {
                        $("#password_reset_tor").val("")
                    }
                });
                $("#reset_tor").on("click", function() {
                    reset_tor_dialog.dialog( "open" );
                });



                $("#reset-blockchain").on("click", function() {
                    // Enable electrs
                    var okFunction = function() {
                        window.location.href="/settings/reset-blockchain"
                    }
                    openConfirmDialog("confirm-dialog",
                                      "Reset Bitcoin Blockchain",
                                      "Resetting the blockchain will restart bitcoind from scratch or from QuickSync, " +
                                      "depending on your settings. This may take a long time. "+
                                      "Would you still like to reset the bitcoin blockchain?",
                                      okFunction)
                });

                $("#restart-quicksync").on("click", function() {
                    // Enable electrs
                    var okFunction = function() {
                        window.location.href="/settings/restart-quicksync"
                    }
                    openConfirmDialog("confirm-dialog",
                                      "Reset QuickSync",
                                      "<p>Restarting QuickSync will delete all current bitcoind blockchain data and redownload " +
                                      "the pre-synced blockchain. This will take a while.</p>"+
                                      "<p>Would you still like to restart QuickSync?</p>",
                                      okFunction)
                });

                $("#reboot-device").on("click", function() {
                    // Enable electrs
                    var okFunction = function() {
                        window.location.href="/settings/reboot-device"
                    }
                    openConfirmDialog("confirm-dialog",
                                      "Reboot Device",
                                      "Are you sure you want to reboot your device?",
                                      okFunction)
                });

                $("#shutdown-device").on("click", function() {
                    // Enable electrs
                    var okFunction = function() {
                        window.location.href="/settings/shutdown-device"
                    }
                    openConfirmDialog("confirm-dialog",
                                      "Shutdown Device",
                                      "Are you sure you want to shutdown your device?",
                                      okFunction)
                });

                $("#reindex-blockchain").on("click", function() {
                    // Enable electrs
                    var okFunction = function() {
                        window.location.href="/settings/reindex-blockchain"
                    }
                    openConfirmDialog("confirm-dialog",
                                      "Reindex Bitcoin Blockchain",
                                      "Reindexing may take a VERY LONG time. "+
                                      "Would you still like to reindex the bitcoin blockchain?",
                                      okFunction)
                });

                $("#rescan-blockchain").on("click", function() {
                    // Enable electrs
                    var okFunction = function() {
                        window.location.href="/settings/rescan-blockchain"
                    }
                    openConfirmDialog("confirm-dialog",
                                      "Rescan Bitcoin Blockchain",
                                      "This will take a few hours. " +
                                      "Would you still like to rescan the bitcoin blockchain?",
                                      okFunction)
                });

                function factoryReset() {
                    $("#factory_reset_form").submit();
                    factory_reset_dialog.dialog( "close" );
                }
                factory_reset_dialog = $( "#factory-reset-dialog" ).dialog({
                    autoOpen: false,
                    resizable: false,
                    height: "auto",
                    width: 600,
                    modal: true,
                    position: { my: "center top", at: "center top", of: window, collision: "none" },
                    buttons: {
                        "Reset Device": factoryReset,
                        Cancel: function() {
                            factory_reset_dialog.dialog( "close" );
                        }
                    },
                    open: function() {
                        $("#password_factory_reset").val("")
                    }
                });
                $("#factory-reset").on("click", function() {
                    factory_reset_dialog.dialog( "open" );
                });

                function formatExternalDrive() {
                    $("#format_external_drive_form").submit();
                    format_external_drive_dialog.dialog( "close" );
                }
                format_external_drive_dialog = $( "#format-external-drive-dialog" ).dialog({
                    autoOpen: false,
                    resizable: false,
                    height: "auto",
                    width: 600,
                    modal: true,
                    position: { my: "center top", at: "center top", of: window, collision: "none" },
                    buttons: {
                        "Format Drive": formatExternalDrive,
                        Cancel: function() {
                            format_external_drive_dialog.dialog( "close" );
                        }
                    },
                    open: function() {
                        $("#password_factory_reset").val("")
                    }
                });
                $("#format-external-drive").on("click", function() {
                    format_external_drive_dialog.dialog( "open" );
                });

                $("#reset_docker_button").button();
                $("#reset_docker_button").on("click", function() {
                    if (confirm("Are you sure you want to reset docker?")) {
                        window.location.href='/settings/reset-docker';
                    }
                });

                $("#show_firewall_rules").on("click", function() {
                    $("#show_firewall_rules").hide(0);
                    $("#firewall_rules").show();
                });

                $("#show_product_key").on("click", function() {
                    $("#show_product_key").hide(0);
                    $("#product_key").show();
                });

                $("#show_mynode_changelog").on("click", function() {
                    if (showChangelog)
                    {
                        $("#show_mynode_changelog").text("Show Change Log");
                        $("#mynode_changelog").hide();
                        showChangelog=0;
                    }
                    else
                    {
                        $("#show_mynode_changelog").text("Hide Change Log");
                        $("#mynode_changelog").show();
                        showChangelog=1;
                    }
                });

                $("#show_upgrade_status").on("click", function() {
                    $("#show_upgrade_status").hide(0);
                    $("#upgrade_status").show();
                });

                $("#show_upgrade_status_beta").on("click", function() {
                    $("#show_upgrade_status_beta").hide(0);
                    $("#upgrade_status_beta").show();
                });

                $("#upgrade_changelog").on("click", function() {
                    $.get("https://raw.githubusercontent.com/mynodebtc/mynode/master/CHANGELOG")
                        .done(function( data ) {
                            var parts = data.split("=== v{{current_version}} ===");
                            var changes = parts[0];
                            parts = changes.split("=== v{{latest_version}} ===")
                            if (parts.length > 1) {
                                changes = "=== v{{latest_version}} ===" + parts[1];
                            }

                            changes = "<pre style='font-size: 10px;'>"+changes+"</pre>";
                            openInfoDialog("upgrade-changelog-info",
                                    "Recent Changes",
                                    changes);
                        }
                    );
                });

                $("#glances").on("click", function() {
                    port="61208";
                    if (location.protocol == "https:") {
                        port="61209";
                    }
                    url = location.protocol+'//'+location.hostname+':'+port;
                    window.open(url,'_blank');
                })

                $("#netdata").on("click", function() {
                    port="19999";
                    if (location.protocol == "https:") {
                        port="20000";
                    }
                    url = location.protocol+'//'+location.hostname+':'+port;
                    window.open(url,'_blank');
                })

                $("#linux_terminal").on("click", function() {
                    port="2222";
                    if (location.protocol == "https:") {
                        port="2223";
                    }
                    url = location.protocol+'//'+location.hostname+':'+port+'/ssh/host/'+"{{local_ip}}";
                    window.open(url,'_blank');
                })

                $( function() {
                    var downloadHandle = $( "#download-handle" );
                    var uploadHandle = $( "#upload-handle" );
                    $( "#download-slider" ).slider({
                        value: {{download_rate}} / 100,
                        orientation: "horizontal",
                        range: "min",
                        animate: true,
                        create: function() {
                            rate = parseInt($( this ).slider( "value" ) * 100)
                            text = rate + " kbps"
                            downloadHandle.text(text);
                            $('#download-rate').val(rate);
                        },
                        slide: function( event, ui ) {
                            rate = parseInt(ui.value * 100)
                            text = rate + " kbps"
                            downloadHandle.text( text );
                            $('#download-rate').val(rate);
                        }
                    });
                    $( "#upload-slider" ).slider({
                        value: {{upload_rate}} / 100,
                        orientation: "horizontal",
                        range: "min",
                        animate: true,
                        create: function() {
                            rate = parseInt($( this ).slider( "value" ) * 100)
                            text = rate + " kbps"
                            uploadHandle.text(text);
                            $('#upload-rate').val(rate);
                        },
                        slide: function( event, ui ) {
                            rate = parseInt(ui.value * 100)
                            text = rate + " kbps"
                            uploadHandle.text( text );
                            $('#upload-rate').val(rate);
                        }
                    });
                } );

                {% if product_key_skipped %}
                $( "#upgrade" ).button({
                    disabled: true
                });
                {% endif %}

                var reinstall_app_choice="";
                $("#reinstall_app").selectmenu( {
                    change: function( event, data ) {
                        reinstall_app_choice = data.item.value;
                        if (data.item.value == "none")
                        {
                            $("#reinstall_button").button("disable");
                        }
                        else
                        {
                            $("#reinstall_button").button("enable");
                        }
                    }
                });
                
                $("#reinstall_button").button({
                    disabled: true
                });
                $("#reinstall_button").on("click", function() {
                    window.location.href='/settings/reinstall-app?app='+reinstall_app_choice
                });

                var swap_choice="";
                $("#swap_size").selectmenu( {
                    change: function( event, data ) {
                        swap_choice = data.item.value;
                        $("#swap_button").button("enable");
                    }
                });
                $("#swap_button").button({
                    disabled: true
                });
                $("#swap_button").on("click", function() {
                    window.location.href='/settings/modify-swap?size='+swap_choice
                });

                $('#btc_lnd_tor_checkbox').change(function () {
                    $("#btc_lnd_tor").show();
                });
                $("#btc_lnd_tor").on("click", function() {
                    enabled=$('#btc_lnd_tor_checkbox').is(":checked")
                    if (enabled)
                    {
                        window.location.href='/settings/enable_btc_lnd_tor?enable=1'
                    }
                    else
                    {
                        window.location.href='/settings/enable_btc_lnd_tor?enable=0'
                    }
                });

                $('#https_forced_checkbox').change(function () {
                    $("#https_forced").show();
                });
                $("#https_forced").on("click", function() {
                    enabled=$('#https_forced_checkbox').is(":checked")
                    if (enabled)
                    {
                        window.location.href='/settings/set_https_forced?forced=1'
                    }
                    else
                    {
                        window.location.href='/settings/set_https_forced?forced=0'
                    }
                });

                $('#aptget_tor_checkbox').change(function () {
                    $("#aptget_tor").show();
                });
                $("#aptget_tor").on("click", function() {
                    enabled=$('#aptget_tor_checkbox').is(":checked")
                    if (enabled)
                    {
                        window.location.href='/settings/enable_aptget_tor?enable=1'
                    }
                    else
                    {
                        window.location.href='/settings/enable_aptget_tor?enable=0'
                    }
                });
            });
        </script>
     </head>

    <body>
        {% include 'includes/logo_header.html' %}
        <div class="mynode_back_div">
            <a class="ui-button ui-widget ui-corner-all mynode_back" href="/"><span class="ui-icon ui-icon-home"></span>home&nbsp;</a>
        </div>

        <div class="main_header">Settings</div>

        {% include 'includes/message_display.html' %}

        <br/>
        <div class="settings_block">
            <a id="mynode"></a>
            <div class="settings_block_header">myNode</div>
            
            <div class="settings_block_subheader">Version</div>
            <table class="info_table">
                <tr>
                    <th>Current Version</th>
                    <td>{{current_version}}</td>
                    <td></td>
                </tr>
                <tr>
                    <th>Latest Version</th>
                    <td>{{latest_version}}</td>
                    <td>
                        &nbsp;<a href="/settings/get-latest-version" class="ui-button ui-widget ui-corner-all settings_button_small">Check for Updates</a>
                        &nbsp;<button id="show_upgrade_status" class="ui-button ui-widget ui-corner-all settings_button_small">Show Upgrade Log</button>
                    </td>
                </tr>
            </table>
            {% if current_version != latest_version and latest_version != "" %}
                <button id="upgrade" class="ui-button ui-widget ui-corner-all settings_button">Upgrade</button>
                <button id="upgrade_changelog" class="ui-button ui-widget ui-corner-all settings_button">See Changes</button>
                {% if product_key_skipped %}
                    <p>Upgrade to myNode Premium to get one-click updates!</p>
                    <p>For manual upgrades, see our <a target="_blank" href="https://mynodebtc.com/guide/upgrading_your_device">upgrade guide</a>!</p>
                {% endif %}
            {% elif not product_key_skipped and upgrade_error %}
                <p style="color: red;">It appears a recent upgrade may not have fully completed.</p>
                <button id="upgrade" class="ui-button ui-widget ui-corner-all settings_button">Retry Upgrade</button>
            {% endif %}
            <div id="upgrade_status" style='text-align: left; font-size: 12px; width: 800px; display: none;'><pre>{{upgrade_logs}}</pre></div>

            <div class="divider"></div>

            {% include 'includes/info_table.html' %}

            {% include 'includes/status_table.html' %}

            <div class="settings_block_subheader">Change Log</div>
            <button id="show_mynode_changelog" class="ui-button ui-widget ui-corner-all settings_button">View Change Log</button>
            <div id="mynode_changelog" style='text-align: left; font-size: 12px; width: 800px; display: none;'><pre>{{changelog}}</pre></div>
            <div class="divider"></div>

            <div class="settings_block_subheader">Change Password</div>
            {{password_message}}
            This will change the password you use in the myNode GUI, the password for SSH, and the password for apps like RTL.
            <br/><br/>
            <form action="/settings/password" method="POST">
                <table class="info_table">
                    <tr>
                        <th>Current Password</th>
                        <td><input type="password" id="current_password" name="current_password" width="20" class="ui-corner-all settings_input"/></td>
                    </tr>
                    <tr>
                        <th>Password</th>
                        <td><input type="password" id="password1" name="password1" width="20" class="ui-corner-all settings_input"/></td>
                    </tr>
                    <tr>
                        <th>Repeat Password</th>
                        <td><input type="password" id="password2" name="password2" width="20" class="ui-corner-all settings_input"/></td>
                    </tr>
                </table>
                <input type="submit" id="password_submit" value="Change Password" class="ui-button ui-widget ui-corner-all settings_button"/>
            </form>
            <div class="divider"></div>

            <div class="settings_block_subheader">Detailed Status</div>
            <a href="/status" class="ui-button ui-widget ui-corner-all settings_button">Status</a>
        </div>


        <div class="settings_block">
            <a id="applications"></a>
            <div class="settings_block_header">Applications</div>

            <div class="settings_block_subheader">Manage Applications</div>
            You can view application information and manage app upgrades. 
            <br/>
            <a href="/apps" class="ui-button ui-widget ui-corner-all settings_button">Manage Apps</a>
        </div>


        <div class="settings_block">
            <a id="ui"></a>
            <div class="settings_block_header">User Interface</div>

            <div class="settings_block_subheader">Dark Mode</div>
            This will enable or disable dark mode in the user interface.
            <br/>
            {% if ui_settings['darkmode'] %}
                <a href="/settings/toggle-darkmode" class="ui-button ui-widget ui-corner-all settings_button">Disable</a>
            {% else %}
                <a href="/settings/toggle-darkmode" class="ui-button ui-widget ui-corner-all settings_button">Enable</a>
            {% endif %}

            <div class="divider"></div>

            <div class="settings_block_subheader">Force HTTPS</div>
            You can force the myNode web interface to only use HTTPS.
            <br/><br/>
            <label class="switch">
                <input type="checkbox" id="https_forced_checkbox" {% if is_https_forced %}checked{% endif %}>
                <span class="slider round"></span>
            </label>
            <br/><br/>
            <button id="https_forced" style="display: none;" class="ui-button ui-widget ui-corner-all settings_button_small">Save</button>
        </div>


        <div class="settings_block">
            <a id="device"></a>
            <div class="settings_block_header">Device</div>

            <div class="settings_block_subheader">Reboot Device</div>
            This will reboot your myNode.
            <br/>
            <button id="reboot-device" class="ui-button ui-widget ui-corner-all settings_button">Reboot Device</button>
            
            <div class="divider"></div>

            <div class="settings_block_subheader">Shutdown Device</div>
            This will shutdown your myNode. You will need to power cycle the device to turn it back on.
            <br/>
            <button id="shutdown-device" class="ui-button ui-widget ui-corner-all settings_button">Shutdown Device</button>

            <div class="divider"></div>

            <div class="settings_block_subheader">Download Debug Logs</div>
            This will download all recent logs from your myNode. This can be helpful for debugging issues.
            <br/>
            It may take about one minute to gather and download the logs.
            <br/>
            Do not share these logs in a public place. They may contain sensitive information.
            <br/>
            <a href="/settings/mynode_logs.tar.gz" class="ui-button ui-widget ui-corner-all settings_button">Download Logs</a>
        </div>


        <div class="settings_block">
            <a id="firewall"></a>
            <div class="settings_block_header">Firewall</div>

            <div class="settings_block_subheader">Rules</div>
            Show the current firewall configuration.
            <br/>
            <button id="show_firewall_rules" class="ui-button ui-widget ui-corner-all settings_button">Show</button>
            <div id="firewall_rules" style='text-align: left; font-size: 12px; width: 800px; display: none;'><pre>{{firewall_rules}}</pre></div>
            
            <div class="divider"></div>

            <div class="settings_block_subheader">Reset</div>
            Resetting the firewall will disable and reenable the firewall and then reboot the device.
            <br/>
            <a href="/settings/reset-firewall" class="ui-button ui-widget ui-corner-all settings_button">Reset Firewall</a>

        </div>


        <div class="settings_block">
            <a id="quicksync"></a>
            <div class="settings_block_header">QuickSync</div>

            <div class="settings_block_subheader">Toggle QuickSync</div>
            {% if is_quicksync_disabled %}
                Enabling QuickSync will help speed up syncing only during the initial block download period. It will also take additional drive space and is not recommeded if using an SSD.
                <br/>
                <a href="/settings/toggle-quicksync" class="ui-button ui-widget ui-corner-all settings_button">Enable QuickSync</a>
            {% else %}
                Disabling QuickSync will remove the QuickSync files and stop the process.
                <br/>
                This may take a long time if Bitcoin is not already synced, but you can re-enable QuickSync later.
                <br/>
                <a href="/settings/toggle-quicksync" class="ui-button ui-widget ui-corner-all settings_button">Disable QuickSync</a>
            {% endif %}

            {% if not is_quicksync_disabled %}
            <div class="divider"></div>

            <div class="settings_block_subheader">Restart QuickSync</div>
            This will reset Bitcoin and redownload the blockchain via QuickSync.
            <br/>
            <button id="restart-quicksync" class="ui-button ui-widget ui-corner-all settings_button">Restart QuickSync</button>

            <div class="divider"></div>

            <div class="settings_block_subheader">QuickSync Rates</div>
            You can control the background upload and download rates for QuickSync. This helps the myNode network.
            <br/>

            <form action="/settings/quicksync_rates" method="POST">
                <p><b>Download Rate</b></p>
                <div id="download-slider">
                    <div id="download-handle" class="quicksync-handle ui-slider-handle "></div>
                </div>
                <input type="hidden" id="download-rate" name="download-rate"/>

                <p><b>Upload Rate</b></p>
                <div id="upload-slider">
                    <div id="upload-handle" class="quicksync-handle ui-slider-handle"></div>
                </div>
                <input type="hidden" id="upload-rate" name="upload-rate"/>
                
                <br/>
                <input type="submit" id="quicksync_rates_submit" value="Save" class="ui-button ui-widget ui-corner-all settings_button"/>
            </form>
            {% endif %}
        </div>


        <div class="settings_block">
            <a id="bitcoin"></a>
            <div class="settings_block_header">Bitcoin</div>

            <div class="settings_block_subheader">Edit Config</div>
            You can edit the Bitcoin config. However, using your own config will prevent any future automatic config updates and may have adverse effects.
            <br/>
            {% if using_bitcoin_custom_config %}
            <br/>
            <div class="settings_block_subheader_status_icon yellow"></div>
            <i>You are currently using a custom Bitcoin config.</i>
            <br/><br/>
            {% endif %}
            <a href="/bitcoind/config" class="ui-button ui-widget ui-corner-all settings_button">Edit Config</a>

            <div class="divider"></div>

            <div class="settings_block_subheader">Reset Blockchain</div>
            If Bitcoin is having issues, you can reset the blockchain data.
            <br/>
            If QuickSync is enabled, it will use QuickSync data as the starting point.
            <br/>
            Otherwise, Bitcoin will sync from scratch. This may take a long time.
            <br/>
            <button id="reset-blockchain" class="ui-button ui-widget ui-corner-all settings_button">Reset Blockchain</button>

            <div class="divider"></div>

            <div class="settings_block_subheader">Rescan Blockchain</div>
            Advanced: If you are having issues seeing transactions in your wallets, try re-scanning the blockchain.
            <br/>
            <button id="rescan-blockchain" class="ui-button ui-widget ui-corner-all settings_button">Rescan Blockchain</button>

            <div class="divider"></div>

            <div class="settings_block_subheader">Reindex Blockchain</div>
            Advanced: If you are having issues parsing the Bitcoin blockchain or blocks cannot be found, please try reindexing. 
            <br/>
            This will take a long time.
            <br/>
            <button id="reindex-blockchain" class="ui-button ui-widget ui-corner-all settings_button">Reindex Blockchain</button>
        </div>


        <div class="settings_block">
            <a id="lightning"></a>
            <div class="settings_block_header">Lightning</div>

            <div class="settings_block_subheader">Download Channel Backup</div>
            This will download the latest copy of your static channel backup file.
            <br/>
            <a class="ui-button ui-widget ui-corner-all settings_button" href="/lnd/channel.backup">Download</a>
            
            <div class="divider"></div>

            <div class="settings_block_subheader">Edit Config</div>
            You can edit the Lightning config. However, using your own config will prevent any future automatic updates and may have adverse effects.
            <br/>
            {% if using_lnd_custom_config %}
            <br/>
            <div class="settings_block_subheader_status_icon yellow"></div>
            <i>You are currently using a custom Lightning config.</i>
            <br/><br/>
            {% endif %}
            <a href="/lnd/config" class="ui-button ui-widget ui-corner-all settings_button">Edit Config</a>

            <div class="divider"></div>

            <div class="settings_block_subheader">Delete Lightning Wallet</div>
            {{lnd_delete_message}}
            Advanced: This will delete your Lightning Wallet.
            <br/>
            <button id="delete_lnd_wallet" class="ui-button ui-widget ui-corner-all settings_button">Delete Wallet</button>
        </div>


        <div class="settings_block">
            <a id="electrum"></a>
            <div class="settings_block_header">Electrum Server</div>
            
            <div class="settings_block_subheader">Reset Electrum Server</div>
            Advanced: This will delete your Electrum Server data and reboot your device.
            <br/>
            <a href="/settings/reset-electrs" class="ui-button ui-widget ui-corner-all settings_button">Reset Data</a>

            <div class="divider"></div>

            <div class="settings_block_subheader">Reset Electrum Server Certificate</div>
            This will regenerate your Electrum Server certificate.
            <br/>
            <a href="/settings/regen-electrs-certs" class="ui-button ui-widget ui-corner-all settings_button">Regenerate</a>

        </div>


        <div class="settings_block">
            <a id="tor"></a>
            <div class="settings_block_header">Tor</div>

            <div class="settings_block_subheader">Use Tor for Bitcoin and Lightning</div>
            You can use Tor for Bitcoin and Lightning to increase privacy. However, it can slow down block download, 
            especially during IBD. If you have customized your Bitcoin or LND config, this setting has no effect.
            <br/><br/>
            Saving will trigger a reboot.
            <br/><br/>
            <label class="switch">
                <input type="checkbox" id="btc_lnd_tor_checkbox" {% if is_btc_lnd_tor_enabled %}checked{% endif %}>
                <span class="slider round"></span>
            </label>
            <br/><br/>
            <button id="btc_lnd_tor" style="display: none;" class="ui-button ui-widget ui-corner-all settings_button_small">Save</button>

            <div class="divider"></div>

            <div class="settings_block_subheader">Use Tor for System Upgrades</div>
            During upgrades, new system packages are downloaded and installed. This setting will download and install those packages via tor.
            <br/><br/>
            This is not recommended unless you are having a specific upgrade issue accessing some package servers.
            <br/><br/>
            <label class="switch">
                <input type="checkbox" id="aptget_tor_checkbox" {% if is_aptget_tor_enabled %}checked{% endif %}>
                <span class="slider round"></span>
            </label>
            <br/><br/>
            <button id="aptget_tor" style="display: none;" class="ui-button ui-widget ui-corner-all settings_button_small">Save</button>

            <div class="divider"></div>
            
            <div class="settings_block_subheader">Reset Tor</div>
            This will reset all of your Tor service settings and regenerate your Onion URLs.
            <br/>
            <button id="reset_tor" class="ui-button ui-widget ui-corner-all settings_button">Reset Tor</button>

        </div>

        <div class="settings_block">
            <a id="services"></a>
            <div class="settings_block_header">Services</div>
            
            <div class="settings_block_subheader">Netdata</div>
            This will enable or disable Netdata device monitoring.
            <br/>
            {% if is_netdata_enabled %}
                <a href="/settings/toggle-netdata" class="ui-button ui-widget ui-corner-all settings_button">Disable</a>
            {% else %}
                <a href="/settings/toggle-netdata" class="ui-button ui-widget ui-corner-all settings_button">Enable</a>
            {% endif %}

        </div>

        <div class="settings_block">
            <a id="docker"></a>
            <div class="settings_block_header">Docker</div>
            
            <div class="settings_block_subheader">Reset Docker</div>
            This erases all docker state and state. Docker apps like BTC Pay Server and Dojo will lose all data.
            <br/>
            <button id="reset_docker_button">Reset Docker</button>
        </div>

        <div class="settings_block">
            <a id="clone_tool"></a>
            <div class="settings_block_header">Clone Tool</div>
            
            <div class="settings_block_subheader">Clone Tool</div>
            This will reboot your device and open the clone tool. It can be used to migrate to a larger external drive.
            <br/>
            <a href="/settings/open-clone-tool" class="ui-button ui-widget ui-corner-all settings_button">Open Clone Tool</a>
        </div>

        <div class="settings_block">
            <a id="advanced"></a>
            <div class="settings_block_header">Advanced</div>

            <div class="settings_block_subheader">Toggle Testnet</div>
            Testnet can be enabled for Bitcoin and Lightning, which can be used to test various features, but may cause other applications to 
            fail or become unstable if enabled. This testnet toggle does not work if you have customized your bitcoin or lnd configs. This will 
            reboot your device.
            <br/>
            {% if not is_testnet_enabled %}
                <a href="/settings/toggle-testnet" class="ui-button ui-widget ui-corner-all settings_button">Enable Testnet</a>
            {% else %}
                <a href="/settings/toggle-testnet" class="ui-button ui-widget ui-corner-all settings_button">Disable Testnet</a>
            {% endif %}

            <div class="divider"></div>

            <div class="settings_block_subheader">Reset HTTPS Certificates</div>
            This will regenerate your HTTPS certificates.
            <br/>
            <a href="/settings/regen-https-certs" class="ui-button ui-widget ui-corner-all settings_button">Regenerate</a>

            <div class="divider"></div>

            <div class="settings_block_subheader">Reinstall Applications</div>
            If you are having issues with a specific application, you can try to reinstall them via the list below.
            <br/>
            Reinstalling an app will trigger a reboot of your device.
            <br/><br/>

            <select name="reinstall_app" id="reinstall_app">
                <option value="none" selected="selected">Choose...</option>
                <option value="bitcoin">Bitcoin</option>
                <option value="lnd">LND</option>
                <option value="btcrpcexplorer">BTC RPC Explorer</option>
                <option value="btcpayserver">BTCPay Server</option>
                <option value="caravan">Caravan</option>
                <option value="dojo">Dojo</option>
                <option value="joinmarket">JoinMarket</option>
                <option value="lnbits">Lnbits</option>
                <option value="loop">Lightning Loop</option>
                <option value="webssh2">Linux Terminal</option>
                <option value="lndconnect">LND Connect</option>				
                <option value="lndhub">LNDHub</option>
                <option value="mempoolspace">Mempool</option>	
                <option value="netdata">Netdata</option>
                <option value="specter">Specter</option>			
                <option value="rtl">RTL</option>
                <option value="thunderhub">Thunderhub</option>
                <option value="tor">Tor</option>
                <option value="ufw">UFW</option>
                <option value="whirlpool">Whirlpool</option>

            </select>
            <button id="reinstall_button">Reinstall</button>

            <div class="divider"></div>

            <div class="settings_block_subheader">Swap</div>
            Devices can use space on the external drive as additional RAM. The default is to use 2GB of space on the drive as additional memory, but this can be changed.
            <br/><br/>
            Modifying the amount of swap can affect overall performance. Saving will reboot the device.
            
            <br/><br/>
            
            <select name="swap_size" id="swap_size">
                <option value="0" {% if swap_size == "0" %}selected="selected"{% endif %}>No Swap</option>
                <option value="1" {% if swap_size == "1" %}selected="selected"{% endif %}>1 GB</option>
                <option value="2" {% if swap_size == "2" %}selected="selected"{% endif %}>2 GB</option>
                <option value="3" {% if swap_size == "3" %}selected="selected"{% endif %}>3 GB</option>
                <option value="4" {% if swap_size == "4" %}selected="selected"{% endif %}>4 GB</option>
            </select>
            <button id="swap_button">Save</button>
            
            <div class="divider"></div>

            <div class="settings_block_subheader">Remount External Drive</div>
            This will attempt to remount your external drive as read/write if it is read-only.
            <br/>
            <a href="/settings/remount-external-drive" class="ui-button ui-widget ui-corner-all settings_button">Remount Drive</a>

            <div class="divider"></div>

            <div class="settings_block_subheader">Format External Drive</div>
            This will reboot your device and re-prompt for formatting the drive. If your external drive has been corrupted, this 
            may help and will be slightly less destructive than a factory reset. Make sure you have backed up all your keys and wallets!
            <br/>
            <button id="format-external-drive" class="ui-button ui-widget ui-corner-all settings_button">Format Drive</button>

            <div class="divider"></div>

            <div class="settings_block_subheader">Factory Reset</div>
            This will factory reset your mynode and all storage will be completely reset. Make sure you have backed up all your keys and wallets!
            <br/>
            <button id="factory-reset" class="ui-button ui-widget ui-corner-all settings_button">Factory Reset</button>
        </div>


        <div class="settings_block">
            <a id="developer"></a>
            <div class="settings_block_header">Developer</div>

            {% if not product_key_skipped %}
                <div class="settings_block_subheader">Reinstall Latest Version</div>
                If you are running a beta or are having issues, it may be helpful to reinstall the latest official release.
                <br/>
                <button id="upgrade" class="ui-button ui-widget ui-corner-all settings_button">Install Latest Version</button>

                <div class="divider"></div>
            {% endif %}

            {% if not product_key_skipped %}
                <div class="settings_block_subheader">Install Beta</div>
                You can install beta releases of myNode software to help test. These may be less stable.
                <br/><br/>
                <table border="0">
                    <tr>
                        <td>Current Beta Version</td>
                        <td>{{current_beta_version}}</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Latest Beta Version</td>
                        <td>{{latest_beta_version}}</td>
                        <td>&nbsp;<a href="/settings/get-latest-version" class="ui-button ui-widget ui-corner-all settings_button_small">Check for Updates</a></td>
                    </tr>
                </table>
                {% if current_beta_version != latest_beta_version and latest_beta_version != "" %}
                    <button id="upgrade-beta" class="ui-button ui-widget ui-corner-all settings_button">Install Beta</button>
                    {% if product_key_skipped %}
                        <p>Upgrade to myNode Premium to get one-click updates!</p>
                        <p>For manual upgrades, see our <a target="_blank" href="https://mynodebtc.com/guide/upgrading_your_device">upgrade guide</a>!</p>
                    {% endif %}
                {% elif upgrade_error %}
                    <p style="color: red;">It appears a recent upgrade may not have fully completed.</p>
                    <button id="upgrade" class="ui-button ui-widget ui-corner-all settings_button">Retry Upgrade</button>
                    <button id="show_upgrade_status_beta" class="ui-button ui-widget ui-corner-all settings_button">Show Upgrade Logs</button>
                    <div id="upgrade_status_beta" style='text-align: left; font-size: 12px; width: 800px; display: none;'><pre>{{upgrade_logs}}</pre></div>
                {% endif %}

                <div class="divider"></div>
            {% endif %}

            <div class="settings_block_subheader">Uploader Device</div>
            This disables most features and prioritize sharing QuickSync files. It can be reversed later.
            <br/>
            {% if is_uploader_device %}
            <a href="/settings/toggle-uploader" class="ui-button ui-widget ui-corner-all settings_button">Disable Uploader Device</a>
            {% else %}
            <a href="/settings/toggle-uploader" class="ui-button ui-widget ui-corner-all settings_button">Enable Uploader Device</a>
            {% endif %}
        </div>



        <div id="confirm-dialog"></div>

        <div id="upgrade-changelog-info"></div>

        <div id="delete-lnd-wallet-dialog" title="Delete Wallet" style="display:none;">
            <form id="delete_lnd_wallet_form" name="delete_lnd_wallet_form" action="/settings/delete-lnd-wallet" method="POST">
                <p class="red_text">Attention! This will delete your wallet and all remaining bitcoin!</p>
                <p>Please ensure you have closed all channels and withdrawn all bitcoin. If you still want to delete your wallet,
                    enter the admin password for your myNode.</p>
                <p>This will restart your device.</p>
                <p>myNode is not responsible for any lost assets.</p>
                <b>Password:</b>
                <br/>
                <input type="password" name="password_lnd_delete" id="password_lnd_delete" value="" class="text ui-widget-content ui-corner-all">
            
                <!-- Allow form submission with keyboard without duplicating the dialog button -->
                <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
            </form>
        </div>

        <div id="reset-tor-dialog" title="Reset Tor" style="display:none;">
            <form id="reset_tor_form" name="reset_tor_form" action="/settings/reset-tor" method="POST">
                <p>This will reset all your Tor services. After rebooting, they will get new IDs and certificates.</p>
                <p>This will reboot your device.</p>   
                <b>Password:</b>
                <br/>
                <input type="password" name="password_reset_tor" id="password_reset_tor" value="" class="text ui-widget-content ui-corner-all">
            
                <!-- Allow form submission with keyboard without duplicating the dialog button -->
                <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
            </form>
        </div>

        <div id="factory-reset-dialog" title="Factory Reset" style="display:none;">
            <form id="factory_reset_form" name="factory_reset_form" action="/settings/factory-reset" method="POST">
                <p>Factory reset will revert your device and all storage to the initial state.</p>
                <p class='red_text'>BACKUP ALL KEYS AND WALLETS BEFORE RESETTING YOUR DEVICE!</p>
                <p>This will reboot your device.</p>
                <p>Would you still like to reset your device?</p>
                <b>Password:</b>
                <br/>
                <input type="password" name="password_factory_reset" id="password_factory_reset" value="" class="text ui-widget-content ui-corner-all">
            
                <!-- Allow form submission with keyboard without duplicating the dialog button -->
                <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
            </form>
        </div>

        <div id="format-external-drive-dialog" title="Format Drive" style="display:none;">
            <form id="format_external_drive_form" name="format_external_drive_form" action="/settings/format-external-drive" method="POST">
                <p>Formatting your drive will revert most storage to the initial state.</p>
                <p class='red_text'>BACKUP ALL KEYS AND WALLETS BEFORE RESETTING YOUR DEVICE!</p>
                <p>This will reboot your device.</p>
                <p>Would you still like to format the external drive?</p>
                <b>Password:</b>
                <br/>
                <input type="password" name="password_format_external_drive" id="password_format_external_drive" value="" class="text ui-widget-content ui-corner-all">
            
                <!-- Allow form submission with keyboard without duplicating the dialog button -->
                <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
            </form>
        </div>

        {% include 'includes/footer.html' %}
     </body>
</html>
