<!DOCTYPE html lang="en">
    <head>
        <title>{{ title }}</title>
        {% include 'includes/head.html' %}

        <script>
            $(document).ready(function() {

                $("#show_startup_status").on("click", function() {
                    $("#show_startup_status").hide(0);
                    $("#startup_status").show();
                });

                $("#show_quicksync_status").on("click", function() {
                    $("#show_quicksync_status").hide(0);
                    $("#quicksync_status").show();
                });

                $("#show_bitcoin_status").on("click", function() {
                    $("#show_bitcoin_status").hide(0);
                    $("#bitcoin_status").show();
                });

                $("#show_lnd_status").on("click", function() {
                    $("#show_lnd_status").hide(0);
                    $("#lnd_status").show();
                });

                $("#show_loopd_status").on("click", function() {
                    $("#show_loopd_status").hide(0);
                    $("#loopd_status").show();
                });

                $("#show_poold_status").on("click", function() {
                    $("#show_poold_status").hide(0);
                    $("#poold_status").show();
                });

                $("#show_lndhub_status").on("click", function() {
                    $("#show_lndhub_status").hide(0);
                    $("#lndhub_status").show();
                });

                $("#show_tor_status").on("click", function() {
                    $("#show_tor_status").hide(0);
                    $("#tor_status").show();
                });

                $("#show_electrs_status").on("click", function() {
                    $("#show_electrs_status").hide(0);
                    $("#electrs_status").show();
                });

                $("#show_rtl_status").on("click", function() {
                    $("#show_rtl_status").hide(0);
                    $("#rtl_status").show();
                });

                $("#show_lnbits_status").on("click", function() {
                    $("#show_lnbits_status").hide(0);
                    $("#lnbits_status").show();
                });

                $("#show_thunderhub_status").on("click", function() {
                    $("#show_thunderhub_status").hide(0);
                    $("#thunderhub_status").show();
                });

                $("#show_docker_status").on("click", function() {
                    $("#show_docker_status").hide(0);
                    $("#docker_status").show();
                });

                $("#show_docker_image_build_status").on("click", function() {
                    $("#show_docker_image_build_status").hide(0);
                    $("#docker_image_build_status").show();
                });

                $("#show_netdata_status").on("click", function() {
                    $("#show_netdata_status").hide(0);
                    $("#netdata_status").show();
                });

                $("#show_whirlpool_status").on("click", function() {
                    $("#show_whirlpool_status").hide(0);
                    $("#whirlpool_status").show();
                });

                $("#show_dojo_status").on("click", function() {
                    $("#show_dojo_status").hide(0);
                    $("#dojo_status").show();
                });

                $("#show_btcpayserver_status").on("click", function() {
                    $("#show_btcpayserver_status").hide(0);
                    $("#btcpayserver_status").show();
                });

                $("#show_mempoolspace_status").on("click", function() {
                    $("#show_mempoolspace_status").hide(0);
                    $("#mempoolspace_status").show();
                });

                $("#show_caravan_status").on("click", function() {
                    $("#show_caravan_status").hide(0);
                    $("#caravan_status").show();
                });

                $("#show_ckbunker_status").on("click", function() {
                    $("#show_ckbunker_status").hide(0);
                    $("#ckbunker_status").show();
                });

                $("#show_sphinxrelay_status").on("click", function() {
                    $("#show_sphinxrelay_status").hide(0);
                    $("#sphinxrelay_status").show();
                });

                $("#show_upgrade_status").on("click", function() {
                    $("#show_upgrade_status").hide(0);
                    $("#upgrade_status").show();
                });

                $("#show_upgrade_status_beta").on("click", function() {
                    $("#show_upgrade_status_beta").hide(0);
                    $("#upgrade_status_beta").show();
                });

                $("#show_nginx_status").on("click", function() {
                    $("#show_nginx_status").hide(0);
                    $("#nginx_status").show();
                });

                $("#show_firewall_status").on("click", function() {
                    $("#show_firewall_status").hide(0);
                    $("#firewall_status").show();
                });

                $("#show_product_key").on("click", function() {
                    $("#show_product_key").hide(0);
                    $("#product_key").show();
                });

                $("#glances").on("click", function() {
                    port="61208";
                    if (location.protocol == "https:") {
                        port="61209";
                    }
                    url = location.protocol+'//'+location.hostname+':'+port;
                    window.open(url,'_blank');
                })

                $("#netdata").on("click", function() {
                    port="19999";
                    if (location.protocol == "https:") {
                        port="20000";
                    }
                    url = location.protocol+'//'+location.hostname+':'+port;
                    window.open(url,'_blank');
                })

                $("#linux_terminal").on("click", function() {
                    port="2222";
                    if (location.protocol == "https:") {
                        port="2223";
                    }
                    url = location.protocol+'//'+location.hostname+':'+port+'/ssh/host/'+"{{local_ip}}";
                    window.open(url,'_blank');
                })
            });
        </script>
     </head>

    <body>
        {% include 'includes/logo_header.html' %}
        <div class="mynode_back_div">
            <a class="ui-button ui-widget ui-corner-all mynode_back" href="/"><span class="ui-icon ui-icon-home"></span>home&nbsp;</a>
        </div>

        <div class="main_header">Status</div>

        {% include 'includes/message_display.html' %}

        <br/>
        <div class="settings_block">
            <div class="settings_block_header">myNode</div>
            
            <div class="settings_block_subheader">Version</div>
            <table clsas="info_table">
                <tr>
                    <th>Current Version</th>
                    <td>{{current_version}}</td>
                    <td></td>
                </tr>
            </table>
            <div class="divider"></div>

            {% include 'includes/info_table.html' %}

            {% include 'includes/status_table.html' %}

            <div class="settings_block_subheader">Settings</div>
            <a href="/settings" class="ui-button ui-widget ui-corner-all settings_button">Settings</a>
        </div>

        <div class="settings_block">
            <div class="settings_block_header">Service Status</div>

            <div class="settings_block_subheader">myNode Startup Status</div>
            <div class="settings_block_subheader_status">
                <div class="settings_block_subheader_status_icon {{ startup_status_color }}"></div>
                {{ startup_status }}
            </div>
            <button id="show_startup_status" class="ui-button ui-widget ui-corner-all settings_button_small">Show Log</button>
            <div id="startup_status" style='text-align: left; font-size: 12px; width: 800px; display: none;'><pre>{{startup_status_log}}</pre></div>
            <div class="divider"></div>

            <div class="settings_block_subheader">QuickSync Status</div>
            <div class="settings_block_subheader_status">
                <div class="settings_block_subheader_status_icon {{ quicksync_status_color }}"></div>
                {{ quicksync_status }}
            </div>
            <button id="show_quicksync_status" class="ui-button ui-widget ui-corner-all settings_button_small">Show Log</button>
            <div id="quicksync_status" style='text-align: left; font-size: 12px; width: 800px; display: none;'><pre>{{quicksync_status_log}}</pre></div>
            <div class="divider"></div>

            <div class="settings_block_subheader">Tor Status</div>
            <div class="settings_block_subheader_status">
                <div class="settings_block_subheader_status_icon {{ tor_status_color }}"></div>
                {{ tor_status }}
            </div>
            <button id="show_tor_status" class="ui-button ui-widget ui-corner-all settings_button_small">Show Log</button>
            <div id="tor_status" style='text-align: left; font-size: 12px; width: 800px; display: none;'><pre>{{tor_status_log}}</pre></div>
            <div class="divider"></div>

            <div class="settings_block_subheader">Bitcoin Status</div>
            <div class="settings_block_subheader_status">
                <div class="settings_block_subheader_status_icon {{ bitcoin_status_color }}"></div>
                {{ bitcoin_status }}
            </div>
            <button id="show_bitcoin_status" class="ui-button ui-widget ui-corner-all settings_button_small">Show Log</button>
            <div id="bitcoin_status" style='text-align: left; font-size: 12px; width: 800px; display: none;'><pre>{{bitcoin_status_log}}</pre></div>
            <div class="divider"></div>

            {% if is_bitcoin_synced %}

            <div class="settings_block_subheader">LND Status</div>
            <div class="settings_block_subheader_status">
                <div class="settings_block_subheader_status_icon {{ lnd_status_color }}"></div>
                {{ lnd_status }}
            </div>
            <button id="show_lnd_status" class="ui-button ui-widget ui-corner-all settings_button_small">Show Log</button>
            <div id="lnd_status" style='text-align: left; font-size: 12px; width: 800px; display: none;'><pre>{{lnd_status_log}}</pre></div>
            <div class="divider"></div>

            {% if lnd_wallet_exists %}
            <div class="settings_block_subheader">Loop Status</div>
            <div class="settings_block_subheader_status">
                <div class="settings_block_subheader_status_icon {{ loopd_status_color }}"></div>
                {{ loopd_status }}
            </div>
            <button id="show_loopd_status" class="ui-button ui-widget ui-corner-all settings_button_small">Show Log</button>
            <div id="loopd_status" style='text-align: left; font-size: 12px; width: 800px; display: none;'><pre>{{loopd_status_log}}</pre></div>
            <div class="divider"></div>
            {% endif %}

            {% if lnd_wallet_exists %}
            <div class="settings_block_subheader">Pool Status</div>
            <div class="settings_block_subheader_status">
                <div class="settings_block_subheader_status_icon {{ poold_status_color }}"></div>
                {{ poold_status }}
            </div>
            <button id="show_poold_status" class="ui-button ui-widget ui-corner-all settings_button_small">Show Log</button>
            <div id="poold_status" style='text-align: left; font-size: 12px; width: 800px; display: none;'><pre>{{poold_status_log}}</pre></div>
            <div class="divider"></div>
            {% endif %}

            <div class="settings_block_subheader">Electrum Server Status</div>
            <div class="settings_block_subheader_status">
                <div class="settings_block_subheader_status_icon {{ electrs_status_color }}"></div>
                {{ electrs_status }}
            </div>
            <button id="show_electrs_status" class="ui-button ui-widget ui-corner-all settings_button_small">Show Log</button>
            <div id="electrs_status" style='text-align: left; font-size: 12px; width: 800px; display: none;'><pre>{{electrs_status_log}}</pre></div>
            <div class="divider"></div>

            <div class="settings_block_subheader">LNDHub Status</div>
            <div class="settings_block_subheader_status">
                <div class="settings_block_subheader_status_icon {{ lndhub_status_color }}"></div>
                {{ lndhub_status }}
            </div>
            <button id="show_lndhub_status" class="ui-button ui-widget ui-corner-all settings_button_small">Show Log</button>
            <div id="lndhub_status" style='text-align: left; font-size: 12px; width: 800px; display: none;'><pre>{{lndhub_status_log}}</pre></div>
            <div class="divider"></div>

            <div class="settings_block_subheader">RTL Status</div>
            <div class="settings_block_subheader_status">
                <div class="settings_block_subheader_status_icon {{ rtl_status_color }}"></div>
                {{ rtl_status }}
            </div>
            <button id="show_rtl_status" class="ui-button ui-widget ui-corner-all settings_button_small">Show Log</button>
            <div id="rtl_status" style='text-align: left; font-size: 12px; width: 800px; display: none;'><pre>{{rtl_status_log}}</pre></div>
            <div class="divider"></div>

            <div class="settings_block_subheader">LNbits Status</div>
            <div class="settings_block_subheader_status">
                <div class="settings_block_subheader_status_icon {{ lnbits_status_color }}"></div>
                {{ lnbits_status }}
            </div>
            <button id="show_lnbits_status" class="ui-button ui-widget ui-corner-all settings_button_small">Show Log</button>
            <div id="lnbits_status" style='text-align: left; font-size: 12px; width: 800px; display: none;'><pre>{{lnbits_status_log}}</pre></div>
            <div class="divider"></div>

            <div class="settings_block_subheader">Thunderhub Status</div>
            <div class="settings_block_subheader_status">
                <div class="settings_block_subheader_status_icon {{ thunderhub_status_color }}"></div>
                {{ thunderhub_status }}
            </div>
            <button id="show_thunderhub_status" class="ui-button ui-widget ui-corner-all settings_button_small">Show Log</button>
            <div id="thunderhub_status" style='text-align: left; font-size: 12px; width: 800px; display: none;'><pre>{{thunderhub_status_log}}</pre></div>
            <div class="divider"></div>

            <div class="settings_block_subheader">Docker Status</div>
            <div class="settings_block_subheader_status">
                <div class="settings_block_subheader_status_icon {{ docker_status_color }}"></div>
                {{ docker_status }}
            </div>
            <button id="show_docker_status" class="ui-button ui-widget ui-corner-all settings_button_small">Show Log</button>
            <div id="docker_status" style='text-align: left; font-size: 12px; width: 800px; display: none;'><pre>{{docker_status_log}}</pre></div>
            <div class="divider"></div>

            <div class="settings_block_subheader">Docker Image Build Status</div>
            <div class="settings_block_subheader_status">
                <div class="settings_block_subheader_status_icon {{ docker_image_build_status_color }}"></div>
                {{ docker_image_build_status }}
            </div>
            <button id="show_docker_image_build_status" class="ui-button ui-widget ui-corner-all settings_button_small">Show Log</button>
            <div id="docker_image_build_status" style='text-align: left; font-size: 12px; width: 800px; display: none;'><pre>{{docker_image_build_status_log}}</pre></div>
            <div class="divider"></div>

            {% if not ui_settings['reseller'] %}
            <div class="settings_block_subheader">Whirlpool Status</div>
            <div class="settings_block_subheader_status">
                <div class="settings_block_subheader_status_icon {{ whirlpool_status_color }}"></div>
                {{ whirlpool_status }}
            </div>
            <button id="show_whirlpool_status" class="ui-button ui-widget ui-corner-all settings_button_small">Show Log</button>
            <div id="whirlpool_status" style='text-align: left; font-size: 12px; width: 800px; display: none;'><pre>{{whirlpool_status_log}}</pre></div>
            <div class="divider"></div>

            <div class="settings_block_subheader">Dojo Status</div>
            <div class="settings_block_subheader_status">
                <div class="settings_block_subheader_status_icon {{ dojo_status_color }}"></div>
                {{ dojo_status }}
                <span class='status_container_list'>
                    Running Containers: 
                    {% if 'tor' in running_containers %} tor {% endif %}
                    {% if 'nodejs' in running_containers %} nodejs {% endif %}
                    {% if 'db' in running_containers %} db {% endif %}
                    {% if 'nginx' in running_containers %} nginx {% endif %}
                </span>
            </div>
            <button id="show_dojo_status" class="ui-button ui-widget ui-corner-all settings_button_small">Show Log</button>
            <div id="dojo_status" style='text-align: left; font-size: 12px; width: 800px; display: none;'><pre>{{dojo_status_log}}</pre></div>
            <div class="divider"></div>
            {% endif %}

            <div class="settings_block_subheader">BTCPay Server Status</div>
            <div class="settings_block_subheader_status">
                <div class="settings_block_subheader_status_icon {{ btcpayserver_status_color }}"></div>
                {{ btcpayserver_status }}
                <span class='status_container_list'>
                    Running Containers: 
                    {% if 'btcpayserver_btcpayserver_1' in running_containers %} btcpayserver {% endif %}
                    {% if 'btcpayserver_nbxplorer_1' in running_containers %} nbxplorer {% endif %}
                    {% if 'btcpayserver_postgres_1' in running_containers %} postgres {% endif %}
                </span>
            </div>
            <button id="show_btcpayserver_status" class="ui-button ui-widget ui-corner-all settings_button_small">Show Log</button>
            <div id="btcpayserver_status" style='text-align: left; font-size: 12px; width: 800px; display: none;'><pre>{{btcpayserver_status_log}}</pre></div>
            <div class="divider"></div>

            <div class="settings_block_subheader">Mempool Status</div>
            <div class="settings_block_subheader_status">
                <div class="settings_block_subheader_status_icon {{ mempoolspace_status_color }}"></div>
                {{ mempoolspace_status }}
                <span class='status_container_list'>
                    Running Containers: 
                    {% if 'mempoolspace' in running_containers %} mempoolspace {% endif %}
                </span>
            </div>
            <button id="show_mempoolspace_status" class="ui-button ui-widget ui-corner-all settings_button_small">Show Log</button>
            <div id="mempoolspace_status" style='text-align: left; font-size: 12px; width: 800px; display: none;'><pre>{{mempoolspace_status_log}}</pre></div>
            <div class="divider"></div>

            <div class="settings_block_subheader">Caravan Status</div>
            <div class="settings_block_subheader_status">
                <div class="settings_block_subheader_status_icon {{ caravan_status_color }}"></div>
                {{ caravan_status }}
            </div>
            <button id="show_caravan_status" class="ui-button ui-widget ui-corner-all settings_button_small">Show Log</button>
            <div id="caravan_status" style='text-align: left; font-size: 12px; width: 800px; display: none;'><pre>{{caravan_status_log}}</pre></div>
            <div class="divider"></div>

            <div class="settings_block_subheader">CKBunker Status</div>
            <div class="settings_block_subheader_status">
                <div class="settings_block_subheader_status_icon {{ ckbunker_status_color }}"></div>
                {{ ckbunker_status }}
            </div>
            <button id="show_ckbunker_status" class="ui-button ui-widget ui-corner-all settings_button_small">Show Log</button>
            <div id="ckbunker_status" style='text-align: left; font-size: 12px; width: 800px; display: none;'><pre>{{ckbunker_status_log}}</pre></div>
            <div class="divider"></div>

            {% if lnd_wallet_exists %}
            <div class="settings_block_subheader">Sphinx Relay Status</div>
            <div class="settings_block_subheader_status">
                <div class="settings_block_subheader_status_icon {{ sphinxrelay_status_color }}"></div>
                {{ sphinxrelay_status }}
            </div>
            <button id="show_sphinxrelay_status" class="ui-button ui-widget ui-corner-all settings_button_small">Show Log</button>
            <div id="sphinxrelay_status" style='text-align: left; font-size: 12px; width: 800px; display: none;'><pre>{{sphinxrelay_status_log}}</pre></div>
            <div class="divider"></div>
            {% endif %}

            {% if is_netdata_enabled %}
            <div class="settings_block_subheader">Netdata Status</div>
            <div class="settings_block_subheader_status">
                <div class="settings_block_subheader_status_icon {{ netdata_status_color }}"></div>
                {{ netdata_status }}
            </div>
            <button id="show_netdata_status" class="ui-button ui-widget ui-corner-all settings_button_small">Show Log</button>
            <div id="netdata_status" style='text-align: left; font-size: 12px; width: 800px; display: none;'><pre>{{netdata_status_log}}</pre></div>
            <div class="divider"></div>
            {% endif %}

            {% endif %}

            <div class="settings_block_subheader">NGINX Status</div>
            <div class="settings_block_subheader_status">
                <div class="settings_block_subheader_status_icon {{ nginx_status_color }}"></div>
                {{ nginx_status }}
            </div>
            <button id="show_nginx_status" class="ui-button ui-widget ui-corner-all settings_button_small">Show Log</button>
            <div id="nginx_status" style='text-align: left; font-size: 12px; width: 800px; display: none;'><pre>{{nginx_status_log}}</pre></div>
            <div class="divider"></div>

            <div class="settings_block_subheader">Firewall Status</div>
            <div class="settings_block_subheader_status">
                <div class="settings_block_subheader_status_icon {{ firewall_status_color }}"></div>
                {{ firewall_status }}
            </div>
            <button id="show_firewall_status" class="ui-button ui-widget ui-corner-all settings_button_small">Show Log</button>
            <div id="firewall_status" style='text-align: left; font-size: 12px; width: 800px; display: none;'><pre>{{firewall_status_log}}</pre></div>
        </div>


        {% include 'includes/footer.html' %}
     </body>
</html>
