<!DOCTYPE html lang="en">
    <head>
        <title>{{ title }}</title>
        {% include 'includes/head.html' %}
    </head>
    <body>
        {% include 'includes/logo_header.html' %}
        <div class="mynode_back_div">
            <a class="ui-button ui-widget ui-corner-all mynode_back" href="/"><span class="ui-icon ui-icon-home"></span>home&nbsp;</a>
        </div>

        <div class="main_header">Samourai Whirlpool</div>
        <br/>

         <div class="app_tile_row">
            <div class="info_tile">
                <div class="info_tile_header">Status</div>
                <div class="info_tile_contents">
                    <table class="info_table">
                        <tr>
                            <th>Status</th>
                            <td>{{whirlpool_status}}</td>
                        </tr>
                        {% if whirlpool_enabled and whirlpool_initialized %}
                        <tr>
                            <th>API Key for Whirlpool GUI</th>
                            <td>{{whirlpool_api_key}}</td>
                        </tr>
                        {% endif %}
                        <tr>
                            <th>Actions</th>
                            <td>
                                <a class="ui-button ui-widget ui-corner-all mynode_button_small" style="width: 100px;" href="/toggle-whirlpool">
                                {% if whirlpool_enabled %}Disable{% else %}Enable{% endif %}
                                </a>
                                {% if whirlpool_enabled %}
                                <a class="ui-button ui-widget ui-corner-all mynode_button_small" style="width: 100px;" href="/restart-whirlpool">Restart</a>
                                {% if whirlpool_initialized %}
                                <a class="ui-button ui-widget ui-corner-all mynode_button_small" style="width: 100px;" href="/reset-whirlpool">Reset Config</a>
                                {% endif %}
                                {% endif %}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>


        <div class="instructions">
            <div class="instructions-header">Instructions to setup Whirlpool</div>
            <ol class="instructions-steps">
                <li>Ensure that whirlpool is enabled and you see "Waiting for initialization..." on status tile.</li>
                <li>Download and install Whirlpool GUI v0.10.2 from <a href="https://samouraiwallet.com/download" target="_blank">https://samouraiwallet.com/download</a>.</li>
                <li>On the installed Whirlpool GUI, select "Advanced: remote CLI". Type in https://mynode.local:8899 (or use the raw IP address) and click on "Connect".</li>
                <li>Follow the instructions and scan your payload. Use secure channels if you are copy/pasting the payload.</li>
                <li>Once connected, enable Tor using the slider and click on "Initialize GUI".</li>
                <li>It might take few seconds to initialize GUI or click on the retry button.</li>
                <li>Refresh this page to see the status change to "Running" and the API key.</li>
                <li>Type in the passphrase used in Samourai mobile wallet and click on "Sign in".</li>
                <li>It might take few seconds to authenticate and show the available pools.</li>
                <li>Enjoy mixing your coins!</li>
            </ol>

            <br/><br/>

            <div class="instructions-header">Tips and Notes</div>
            <ul style="font-size: 12px;">
                <li>The pairing payload contains an encrypted version of your Samourai mobile wallet password/passphrase
                    which enables the Whirlpool GUI  to interface with your Samourai wallet. If you receive
                    "authentication /passphrase invalid  errors" when you try to open the GUI, you need to update your
                    pairing payload and repeat this procedure so that it contains your current Samourai password. Note
                    that the payload  should be sent to yourself by  secure channels to prevent it from being
                    compromised.</li>
            </ul>
        </div>
    </body>
</html>
