<div class="main_header">Core Services</div>
<div class="app_tile_row">
    <div class="app_tile_wide">
        <div style="width: 130px; float: left;">
            <div class="app_status_icon {{ bitcoind_status_color }}" id="bitcoin_status_icon"></div>
            <div class="app_logo"><img class="app_logo_icon" src="{{ url_for('static', filename="images/bitcoin.png")}}"/></div>
            <div class="app_title">Bitcoin</div>
            <div class="app_status" id="bitcoin_status">{{ bitcoind_status }}</div>
            {% if is_testnet_enabled %}
                <div class="app_status" style="color: green; margin-top: 3px;">Testnet</div>
            {% endif %}
            <div class="app_contents">
                <a class="ui-button ui-widget ui-corner-all mynode_button" href="/bitcoind">Manage</a>
            </div>
        </div>
        <div style="width: 230px; padding-left: 10px; float: right;">
            <table style="font-size: 10px; width: 100%;" cellpadding="0" cellspacing="0">
                <tr>
                    <td class="td_left_header">Height</td>
                    <td id="current_block">{{ current_block }}</td>
                </tr>
                <tr>
                    <td class="td_left_header">Peers</td>
                    <td id="bitcoin_peer_count">{{ bitcoin_peer_count }}</td>
                </tr>
                <tr>
                    <td class="td_left_header">Difficulty</td>
                    <td id="bitcoin_difficulty">{{ bitcoin_difficulty }}</td>
                </tr>
                <tr>
                    <td class="td_left_header">Mempool Size</td>
                    <td id="bitcoin_mempool_size">{{ bitcoin_mempool_size }}</td>
                </tr>
                <tr>
                    <td class="td_left_header">Version</td>
                    <td id="bitcoin_version">{{ bitcoin_version }}</td>
                </tr>
            </table>
            <br/>
            <img class="" id="show_bitcoin_blocks" style="margin: auto; width: 60px; cursor: pointer;" onclick="toggleBlocks();" src="{{ url_for('static', filename="images/expand_down.png")}}"/>
        </div>
    </div>
    <div class="app_tile_wide">
        <div style="width: 130px; float: left;">
            <div class="app_status_icon {{ lnd_status_color }}" id="lnd_status_icon"></div>
            <div class="app_logo"><img class="app_logo_icon" src="{{ url_for('static', filename="images/lightning.png")}}"/></div>
            <div class="app_title">Lightning</div>
            <div class="app_status" id="lnd_status">{{ lnd_status }}</div>
            {% if is_testnet_enabled %}
                <div class="app_status" style="color: green; margin-top: 3px;">Testnet</div>
            {% endif %}
            <div class="app_contents">
                {% if lnd_ready %}
                <a class="ui-button ui-widget ui-corner-all mynode_button" href="#" id="lndconnect">Pair Wallet</a>
                {% endif %}
                {% if lnd_wallet_exists %}
                    <a class="ui-button ui-widget ui-corner-all mynode_button" href="/lnd">Wallet</a>
                {% else %}
                    <a class="ui-button ui-widget ui-corner-all mynode_button" href="/lnd">Create Wallet</a>
                {% endif %}
            </div>
        </div>
        <div style="width: 230px; padding-left: 10px; float: right;">
            <table style="font-size: 10px; width: 100%;" cellpadding="0" cellspacing="0">
                <tr>
                    <td class="td_left_header">Peers</td>
                    <td id="lnd_peer_count">{{ lnd_peer_count }}</td>
                </tr>
                <tr>
                    <td class="td_left_header">Channels</td>
                    <td id="lnd_channel_count">{{ lnd_channel_count }}</td>
                </tr>
                <!--
                <tr>
                    <td class="td_left_header">On-chain Balance</td>
                    <td>{{ lnd_balance_info['wallet_balance'] }}</td>
                </tr>
                <tr>
                    <td class="td_left_header">Lightning Balance</td>
                    <td>{{ lnd_balance_info['channel_balance'] }}</td>
                </tr>
                -->
                <tr>
                    <td class="td_left_header">Version</td>
                    <td>{{ lnd_version }}</td>
                </tr>
            </table>
        </div>
    </div>
</div>

<!-- Show Bitcoin Blocks -->
<div class="app_tile_row">
    <div class="app_tile_bitcoin_recent_blocks" id="bitcoin_blocks" style="display: None;">
        <div class="bitcoin_block_set"></div>
            <div class="bitcoin_block">
                <div class="bitcoin_block_orange_square">
                    <div class="bitcoin_block_size" id="bitcoin_block_size_0">0.00 MB</div>
                    <div class="bitcoin_block_num_txs" id="bitcoin_block_num_txs_0">0 TXs</div>
                    <div class="bitcoin_block_time" id="bitcoin_block_time_0">999 min ago</div>
                </div>
                <div class="bitcoin_block_height" id="bitcoin_block_height_0">???</div>
            </div>
            <div class="bitcoin_block">
                <div class="bitcoin_block_orange_square">
                    <div class="bitcoin_block_size" id="bitcoin_block_size_1">0.00 MB</div>
                    <div class="bitcoin_block_num_txs" id="bitcoin_block_num_txs_1">0 TXs</div>
                    <div class="bitcoin_block_time" id="bitcoin_block_time_1">999 min ago</div>
                </div>
                <div class="bitcoin_block_height" id="bitcoin_block_height_1">???</div>
            </div>
            <div class="bitcoin_block">
                <div class="bitcoin_block_orange_square">
                    <div class="bitcoin_block_size" id="bitcoin_block_size_2">0.00 MB</div>
                    <div class="bitcoin_block_num_txs" id="bitcoin_block_num_txs_2">0 TXs</div>
                    <div class="bitcoin_block_time" id="bitcoin_block_time_2">999 min ago</div>
                </div>
                <div class="bitcoin_block_height" id="bitcoin_block_height_2">???</div>
            </div>
            <div class="bitcoin_block">
                <div class="bitcoin_block_orange_square">
                    <div class="bitcoin_block_size" id="bitcoin_block_size_3">0.00 MB</div>
                    <div class="bitcoin_block_num_txs" id="bitcoin_block_num_txs_3">0 TXs</div>
                    <div class="bitcoin_block_time" id="bitcoin_block_time_3">999 min ago</div>
                </div>
                <div class="bitcoin_block_height" id="bitcoin_block_height_3">???</div>
            </div>
            <div class="bitcoin_block">
                <div class="bitcoin_block_orange_square">
                    <div class="bitcoin_block_size" id="bitcoin_block_size_4">0.00 MB</div>
                    <div class="bitcoin_block_num_txs" id="bitcoin_block_num_txs_4">0 TXs</div>
                    <div class="bitcoin_block_time" id="bitcoin_block_time_4">999 min ago</div>
                </div>
                <div class="bitcoin_block_height" id="bitcoin_block_height_4">???</div>
            </div>
            <div class="bitcoin_block">
                <div class="bitcoin_block_orange_square">
                    <div class="bitcoin_block_size" id="bitcoin_block_size_5">0.00 MB</div>
                    <div class="bitcoin_block_num_txs" id="bitcoin_block_num_txs_5">0 TXs</div>
                    <div class="bitcoin_block_time" id="bitcoin_block_time_5">999 min ago</div>
                </div>
                <div class="bitcoin_block_height" id="bitcoin_block_height_5">???</div>
            </div>
            <div class="bitcoin_block">
                <div class="bitcoin_block_orange_square">
                    <div class="bitcoin_block_size" id="bitcoin_block_size_6">0.00 MB</div>
                    <div class="bitcoin_block_num_txs" id="bitcoin_block_num_txs_6">0 TXs</div>
                    <div class="bitcoin_block_time" id="bitcoin_block_time_6">999 min ago</div>
                </div>
                <div class="bitcoin_block_height" id="bitcoin_block_height_6">???</div>
            </div>
        </div>
    </div>
</div>