@import url(/static/fonts/inter.css);

body, input, select, textarea {
  font-family: "Inter", "Source Sans Pro", Helvetica, sans-serif;
}

.logo_header {
    margin: auto;
    width: 300px;
    padding-bottom: 20px;
    cursor: pointer;
}

.logo_image {
    width: 100%;
}

.footer {
    margin: auto;
    padding: 25px 0 50px 0;
    text-align: center;
    font-size: 12px;
}

a:link {
    color: black;
    text-decoration: underline solid #0000005e;
}
a:visited {
    color: black;
    text-decoration: underline solid #0000005e;
}
a:hover {
    color: black;
    text-decoration: underline solid #0000005e;
}
a:active {
    color: black;
    text-decoration: underline solid #0000005e;
}

table{
    border-collapse: collapse;
}

td, th {
    padding-top: 8px;
    padding-bottom: 6px;
    border-collapse: collapse;
    border-top: #e7e7e7 1px solid;
}
.td_left_header {
    padding-right: 40px;
    min-width: 120px;
}

.info_table {
    font-size: 16px;
}
.info_table th {
    font-weight: normal;
    padding-right: 30px;
    min-width: 100px;
    text-align: left;
}

.mynode_back_div {
    position: fixed;
    top: 20px;
    left: 20px;
}

.mynode_top_left_div {
    position: fixed;
    font-size: 14px;
    top: 20px;
    left: 20px;
}

.mynode_top_right_div {
    position: fixed;
    font-size: 14px;
    top: 20px;
    right: 20px;
}

.state_header {
    color: #555555;
    text-align: center;
    font-size: 56px;
    padding-bottom: 15px;
}

.state_subheader {
    color: #555555;
    text-align: center;
    font-size: 28px;
}

.state_error {
    color: #DD5555;
    text-align: center;
    font-size: 14px;
}

.state_warning {
    color: #555555;
    text-align: center;
    font-size: 14px;
}

.shutoff_warning {
    font-size: 12px;
}

.main_header {
    color: #555555;
    text-align: center;
    font-size: 32px;

    margin-bottom: 5px;
}
.main_header_sub_text {
    width: 600px;
    color: #444444;
    margin: auto;
    text-align: center;
    font-size: 14px;
    margin-bottom: 10px;
}

.sub_header {
    color: #555555;
    text-align: center;
    font-size: 24px;
    margin-top: 15px;
    margin-bottom: 5px;
}
.sub_header_sub_text {
    width: 600px;
    color: #444444;
    margin: auto;
    text-align: center;
    font-size: 14px;
    margin-bottom: 10px;
}

.error_message {
    color: red;
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.success_message {
    color: green;
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.app_tile_row_divider_left {
    width: 50%;
    float: left;
    margin: 25px;
}

.app_tile_row_divider_right {
    width: 50%;
    float: right;
    margin: 0px;

}

.app_tile_row {
    margin: auto;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-bottom: 10px;
}
.app_tile_row_section {
    margin: auto;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-bottom: 0px;
    margin-left: 20px;
    margin-right: 20px;
}
.app_tile {
    display: inline-block;
    position: relative;
    border: none;
    border-radius: 10px;
    width: 130px;
    min-width: 130px;
    height: 180px;
    padding: 10px;
    margin: 6px 10px 6px 10px;
    background: #f0f0f0;
}
.app_tile_short {
    display: inline-block;
    position: relative;
    border-radius: 10px;
    width: 130px;
    min-width: 130px;
    height: 150px;
    padding: 10px;
    margin: 10px;
    background: #f0f0f0;
}
/* width of two tiles */
.app_tile_wide {
    display: inline-block;
    position: relative;
    border: none;
    border-radius: 10px;
    width: 385px;
    height: 180px;
    padding: 10px;
    margin: 6px 10px 6px 10px;
    background: #f0f0f0;
}
/* width of four tiles (full width) */
.app_tile_bitcoin_recent_blocks {
    display: inline-block;
    position: relative;
    border: none;
    border-radius: 10px;
    width: 810px;
    height: 120px;
    padding: 10px;
    margin: 6px 10px 6px 10px;
    background: #f0f0f0;
}
.bitcoin_block_set {
    margin-left: auto;
    margin-right: auto;
}
.bitcoin_block {
    display: inline-block;
    position: relative;
    text-align: center;
    width: 85px;
    margin: 5px 8px 5px 8px;
}
.bitcoin_block_orange_square {
    display: inline-block;
    position: relative;
    background-color: orange;
    color: #222;
    width: 85px;
    height: 85px;
    border-radius: 5px;
    margin-bottom: 5px;
}
.bitcoin_block_size {
    display: inline-block;
    position: relative;
    font-size: 14px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 5px;
    width: 100%;
}
.bitcoin_block_num_txs {
    display: inline-block;
    position: relative;
    font-size: 10px;
    margin-bottom: 5px;
    width: 100%;
}
.bitcoin_block_time {
    display: inline-block;
    position: relative;
    font-size: 10px;
    margin-bottom: 5px;
    width: 100%;
}


.green { background-color: green; }
.yellow { background-color: yellow; }
.red { background-color: red; }
.gray { background-color: gray; }
.blue { background-color: blue; }

.green_text {color: green;}
.yellow_text {color: yellow;}
.red_text {color: red;}

.app_status_icon {
    width: 14px;
    height: 14px;
    position: absolute;
    top: 10px;
    left: 10px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}
.app_tooltip {
    width: 14px;
    height: 14px;
    position: absolute;
    top: 5px;
    left: 130px;
}
.app_logo {
    margin: auto;
    height: 55px;
    padding-bottom: 5px;
}
.app_logo_icon {
    margin: auto;
    display: block;
    width: 55px;
}
.app_title {
    font-size: 18px;
    text-align: center;
    margin-bottom: 6px;
    line-height: 1em;
}
.app_status {
    font-size: 12px;
    line-height: 130%;
}
.app_beta_tag_image {
    width: 50px;
    height: 50px;
    position: absolute;
    left: 100px;
    top: 0px;
}
.app_contents {
    font-size: 12px;
    position: absolute;
    margin: auto;
    width: 130px;
    bottom: 13px;
    text-align: center;
}

.info_tile {
    display: inline-block;
    position: relative;
    background: #f0f0f0;
    border-radius: 8px;
    min-width: 120px;
    margin-left: 15px;
    margin-right: 15px;
}
.info_tile_header {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    font-size: 12px;
    color: #FFFFFF;
    background-color: orange;
    padding: 5px 10px 5px 10px;
    margin-top: -2px;
    text-transform: uppercase;
}
.info_tile_contents {
    margin-top: 5px;
    font-size: 16px;
    vertical-align: middle;
    padding: 5px 10px 5px 10px;
}

.content_block {
    width: 600px;
    color: #444444;
    margin: auto;
    text-align: justify;
    font-size: 14px;
    margin-bottom: 40px;
}

.instructions {
    width: 60%;
    color: #444444;
    margin: auto;
    text-align: left;
    font-size: 16px;
    margin-bottom: 40px;
    margin-top: 40px;
}

.instructions-header {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.instructions-steps li {
    padding: 0.25em;
}

.instructions-terminal {
    font-family: "Courier New", Courier, monospace;
}

.instructions-keyboard {
    font-weight: bold;
}

.mynode_button {
    width: 80%;
    font-size: 14px;
    margin-top: 5px;
}


.ui-state-default a, .ui-state-default a:link,
.ui-state-default a:visited, a.ui-button,
a:link.ui-button, a:visited.ui-button, .ui-button {
  border: none;
}


.ui-button.ui-widget.ui-corner-all{
  border: none;
  border-radius: 6px;
  color: #000000;
  background-color: #e2e2e2;
}

.ui-button.ui-widget.ui-corner-all:hover{
  background-color: #d7d7d7;
}

.mynode_button_small {
    font-size: 12px !important;
}

.device_status_info {
    margin-bottom: 25px;
    font-size: 24px;
    color: #222222;
}

.settings_block_header {
    color: #f19c00;
    border-bottom: 1px solid #ffb700;
    text-align: center;
    display: block;
    font-size: 24px;
    padding: 15px;
    margin-bottom: 15px;
}
.settings_block_subheader {
    color: #f19c00;
    text-align: left;
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 8px;
    text-transform: uppercase;
    letter-spacing: 0.04em;
}
.settings_block_subheader_status {
    color: #333333;
    height: 18px;
    text-align: left;
    font-size: 14px;
    font-style: italic;
    vertical-align: middle;
    margin-bottom: 2px;
}
.settings_block_subheader_status_icon {
    width: 10px;
    height: 10px;
    margin-right: 5px;
    display: inline-block;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}
.settings_block {
    width: 800px;
    color: #444444;
    margin: auto;
    text-align: justify;
    font-size: 14px;
    margin-bottom: 30px;
}
.divider {
    width: 100%;
    margin-top: 25px;
    margin-bottom: 15px;
    border-bottom: 1px solid #ffb70054;
    margin-left: auto;
    margin-right: auto;
}
.settings_button {
    font-size: 14px;
    margin-top: 15px;
}
.settings_button_small {
    font-size: 10px !important;
}
.settings_input {
    font-size: 14px;
}
.status_container_list {
    margin-left: 150px;
}

.seed_textbox {
    width: 99%;
    height: 120px;
    font-size: 14px;
}

.small_message {
    width: 500px;
    font-size: 12px;
    line-height: 1.5;
    text-align: center;
    padding-top: 40px;
    margin: auto;
}

#lndconnect_tabs {
    margin: auto;
    width: 500px;
    font-size: 10px;
    line-height: 1.2;
    word-wrap: break-word;
    text-align: center;
}
.lndconnect_qr_code {
    width: 500px;
    margin: auto;
}

.product_key_form {
    width: 400px;
    margin: auto;
}
.product_key_input {
    width: 100%;
    font-size: 24px;
    text-align: center;
}
.product_key_save_button {
    width: 100%;
    margin-top: 10px;
    font-size: 20px !important;
}
.product_key_skip_button {
    width: 100%;
    margin-top: 10px;
    font-size: 14px !important;
}

.main_page_warning_block {
    color: #333333;
    border: 3px solid orange;
    background-color: rgb(255, 250, 238);
    width: 800px;
    border-radius: 25px;
    text-align: justify;
    display: block;
    font-size: 12px;
    padding: 5px;
    margin: auto;
    margin-bottom: 20px;
}

.main_page_error_block {
    color: #333333;
    border: 3px solid red;
    background-color: rgb(255, 238, 238);
    width: 800px;
    border-radius: 25px;
    text-align: justify;
    display: block;
    font-size: 12px;
    padding: 5px;
    margin: auto;
    margin-bottom: 20px;
}

#product_key_message {
    margin: auto;
    padding-bottom: 10px;
    text-align: center;
}

.port_forwarded_icon {
    width: 26px;
    height: 24px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}

.cli_command {
    width: 800px;
    margin: auto;
    display: table;
    padding: 10px;
    vertical-align: middle;
}
.cli_command_input {
    width: 685px;
    font-size: 20px;
    vertical-align: middle;
}
.cli_enter_button {
    width: 100px;
    font-size: 16px;
    vertical-align: middle;
}

.cli_contents {
    margin: auto;
    width: 800px;
    max-height: 500px;
    height: 500px;
    overflow-y: scroll;
    border: 2px solid #222222;
    border-radius: 5px;
}
.login_div {
    width: 300px;
    color: #444444;
    margin: auto;
    text-align: justify;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 40px;
}
.login_password {
    width: 100%;
    font-size: 18px;
    padding: 5px 8px;
    margin: 8px 0;
    box-sizing: border-box;
}
.login_submit {
    width: 100%;
    margin-top: 5px;
}

.format_div {
    width: 800px;
    color: #444444;
    margin: auto;
    text-align: center;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 40px;
}
.format_button {
    width: 500px;
    margin-top: 5px;
}

.warning_div {
    width: 800px;
    color: #444444;
    margin: auto;
    text-align: center;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 40px;
}
.warning_button {
    width: 500px;
    margin-top: 5px;
}
.warning_divider {
    width: 100%;
    margin-top: 12px;
    margin-bottom: 12px;
    border-bottom: 3px dashed yellow;
    margin-left: auto;
    margin-right: auto;
}

#download-handle {
    width: 6em;
    height: 1.6em;
    top: 50%;
    margin-top: -.8em;
    text-align: center;
    line-height: 1.6em;
}
#upload-handle {
    width: 6em;
    height: 1.6em;
    top: 50%;
    margin-top: -.8em;
    text-align: center;
    line-height: 1.6em;
}

.centered_text_div {
    width: 800px;
    margin: auto;
    text-align: justify;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 40px;
}

.config_textarea {
    width: 800px;
    height: 400px;
    font-size: 14px;
    font-family: "Courier New", Courier, monospace;
}

.loading_image {
    width: 128px;
}

.halving_message_main_page {
    color: #333333;
    border: 3px solid orange;
    background-color: rgb(255, 250, 238);
    width: 600px;
    border-radius: 25px;
    text-align: center;
    display: block;
    font-size: 32px;
    padding: 5px;
    padding-left: 12px;
    margin: auto;
    margin-bottom: 20px;
}
.halving_message_table {
    width: 100%;
    font-size: 32px;
    border: 0px;
    text-align: center;
}
.halving_image {
    width: 86px;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 36px;
    height: 22px;
}
/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
input:checked + .slider {
    background-color: #2196F3;
}
input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
    -webkit-transform: translateX(14px);
    -ms-transform: translateX(14px);
    transform: translateX(14px);
}
/* Rounded sliders */
.slider.round {
    border-radius: 20px;
}
.slider.round:before {
    border-radius: 50%;
}

/* Placeholder colors */
::-webkit-input-placeholder { /* Edge */
    color: #CCCCCC;
}
:-ms-input-placeholder { /* Internet Explorer */
    color: #CCCCCC;
}
::placeholder {
    color: #CCCCCC;
}
